img.thumb {
    height: 170px;
    width: 170px;
}

.laya {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.laya input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.lay {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.laya:hover input ~ .lay {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.laya input:checked ~ .lay {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.lay:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.laya input:checked ~ .lay:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.laya .lay:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	background: white;
}

/*----------------------- EDIT POST -----------------------------*/
.product-img{
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.del-item {
 position: absolute;
 top: 0px;
 right: 0px;
}

.del-icon {
    position: absolute;
    top: -90px;
    right: -184px;
}