body{
	background: #E5ECF4;
}
.menu-footer ul li,.header-top ul li{
	position: relative;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	float: left;
	color: #ffffff;
	border-right: 1px solid #ffffff;
	margin: 8px 0px 10px 15px;
	padding-right: 5px;
	z-index: 9999;
}
/*-------------------header-top-------------------*/
header{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
}
.show_email {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 67px;
}
.button-login-rg {
    width: 100%;
    display: inline-block;
    position: relative;
    padding-top: 15px;
}
.nav-tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
}
.nav-tabs li{
	    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.tab-content{
	padding-top: 40px;
}
.nav-tabs li a.active,.nav-tabs li a:hover{
	    border: 1px solid;
    border-radius: 5px 5px 0 0;
}
.nav-tabs li a {
    color: rgb(35, 180, 246);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
label.error{
	position: relative !important;
	top: 0 !important;
	color: red !important;
}
.input-form {
    height: 50px;
    position: relative;
    margin-bottom: 32px;
}
.input-form label {
    color: #9e9e9e;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
}
.header-top{ 
	background-color: #2570a9;
}
.header-top .list-inline{
	padding-left: 30px;
}
.menu-footer a,.menu_header a{
	color: #ffffff;
}
.register a,.login a{
	color: #ffe184;
}
.menu_header.login, .menu_header .start{
	border-right: none;
}
.menu-top-child{
	background-color: #ffffff;
	margin-left: -287px;
}
button#parent{
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}
.menu-top-child-1{
	width: 345px;
	height: 330px;
	background-color: #ffffff;
	margin-left: -33px;
}
.menu-top-child p {
	color: black;
	text-decoration: underline;
	font-size: 13px;
}
.menu-top-child-1 a,.menu-top-child a{
	color: #2570a8;
	text-decoration: none;
	font-size: 12px;
}
.menu-top-child a:hover{
	color: #FF6600;
}
.top-child{
	width: 750px;
	margin-top: 10px;
	padding-right: 40px;
}
.top-child-1{
	margin-top: 10px;
	border-bottom: 1px dashed #eee;
}
.menu-top-contact{
	margin-top:15px;
	border-bottom: 1px dashed #eee; 
}
.menu-top-contact .sky p,.menu-top-contact .email p{
	color: #2570a8;
	font-size: 13px;
}
.link-contact{
	margin-top:10px;
}
.menu-top-child-1 p{
	color: black;
	font-size: 13px;
}
.menu-top-child-1 a{
	margin-left: -46px;
}

.bonus{
	border: 1px solid #e2c822;
	background: #fff9d7;
	margin: 45px 0px 20px 15px;
	padding: 5px 220px 5px 15px;
	border-radius: 5px 5px 5px 5px;
}
/*ul li .menu-top-child li{
	position: absolute;
	z-index: 10000;
	}*/
	/*-------------------header-content----------------*/	
	.header-content{
		background-color: #ffffff;
		margin-bottom: 20px;
	}
	.header-content.logo.city:hover .dropdown-menu{
		display: block;
	}
	.logo{
		margin: 10px 0 10px 10px;
	}
	.dropdown {
		margin-top: 30px;
	}
	.dropdown-menu{
		background-color: #ffffff;
		width: 500px;
		margin-top: 33px;
		will-change: transform;
		z-index: -1; 
	}
	.dropdown-menu a{
		font-size: 13px;
	}
	.dropdown-menu a:hover{
		color:red
		text-decoration: underline;
	}
	.drop-menu2{
		margin-top: 10px;
		width: 195px;
	}
	.drop-menu2 a:hover{
		color:blue;
		text-decoration: none;
		border-bottom: 1px solid #eee;
		background: #ffffff;
	}
	.dropdown-menu h5{
		font-weight: bold;
		color: #e8641a;
		text-decoration: underline;
	}
	.dropdown-menu .emphasize{
		font-weight: bold;
		color: #0087c8;
	}
	.city{
		color: #555;
		text-decoration: none; 
	}
	.input-group{
		margin-top: 20px;
		margin-left: -20px;
	}
	.button{
		color: #615f5f;
		font-size: 12px;
		background: #fff;
		border: 1px solid #ced4da; 
		padding: 0px 15px 0px 15px;
	}
	.search{
		background: #2570a8;
		border: 1px solid #ced4da; 
		border-radius: 0 5px 5px 0;
		color: #ffffff;
		padding: 10px 20px 10px 20px; 
	}
	.btn:focus {
		box-shadow: none;
	}
	.form-control:focus {
		box-shadow: none;
		border: 1px solid #ced4da;
	}
	.post{
		margin-top: 20px;
		margin-left: 40px;
		padding: 8px 25px 8px 25px;
		box-shadow: 1px 2px 0 #cdb500;
		background: #f6e104;
		font-weight: bold;
	}

	/*------------register and login form-------------*/

	/*-------------------menu-left-------------------*/
	section{
		margin-top: 110px;
		background: #E5ECF4;
	}
	.menu-left ul li{
		background-color: #ffffff;
		padding: 10px 10px 10px 12px;
		border: 1px solid #eeeeee;
	}
	.menu-left ul .nav-item{
		width:255px;
	}
/*.menu-left ul li {
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    border: 1px solid #eeeeee;
    width: 255px;
    }*/
    .menu-left a {
    	font-size: 15px;
    	color: black;
    	text-decoration: none;
    }
    .menu-left i{
    	color: #615f5f;
    	float: right;
    	font-weight: bold;
    }
    .menu-left ul li ul li i{
    	float: none;
    	font-weight: bold;
    	color: black;
    }
    .menu-left{
    	margin-top: 10px;
    }
    .menu-left p{
    	font-size: 20px;
    	margin-bottom: 0px;
    	font-weight: bold;
    }

    ul li {
    	position: relative;
    }

    ul li ul {
    	position: absolute;
    	list-style: none;
    	display: none;
    }
    .menu-left-child1,.menu-left-child{
    	width: 879px;
    	margin-left: 201px;
    	margin-top: -89px;
    	border: none;
    }
    .menu-left-child1{
    	width: 881px;
    	margin-top: -136px;    
    }


    ul li ul li {
    	z-index: 1;
    }
    .child{
    	height: 300px;
    }
    .child .title-child a{
    	color: #2570a8;
    	font-weight: bold;
    	font-size: 13px;
    }
    .title-child{
    	margin-left: 45px;
    }
    .child ul li{
    	border:none;
    	padding: 5px;
    }
    .child ul li a{
    	font-size: 14px;
    }
    .child ul li a:hover{
    	color:red;
    }
/*.child ul li a:visited{
	color:#eee;
	}*/
	.border-child1,.border-child{
		border-right: 1px solid #eee;
	}
	.child2{
		margin-top: 70px;
	}

	.child2 img{
		background: #2570a8;
		padding: 0px 10px 10px 0px;
	}
	.child2 img:hover{
		background: #519cd5;
	}
	.child2 span{
		font-size: 14px;
	}
	strong{
		color:red !important;
	}

	.last-child2{
		padding-top: 12px;
		margin: -10px 0px -10px -4px;
		background: #f7f7f7;
	}
	.last-child2 ul li{
		background: #f7f7f7;
	}
	.last-child2 .title-child{
		margin-left: 30px;
	}
	.navbar-light .navbar-toggler {
		border-color: rgb(37, 112, 168) !important;
	}
	/*-------------------slide-----------------------*/
	.product{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.slide-image{
		/*margin-left: 10px;*/
	}
	.show-product img{
		width: 100%;
		height: 150px;
	}
	.picture img{
		width: 100%;
		height: 100%;
	}
	.slide-image img{
		width: 100%;
	}
	.title{
		background: #ffffff;
		color: black;
		margin-top: 10px;
	}
	.title p{
		text-align: center;
		padding: 10px 0px 10px 15px;
	}
	.show-product1, .show-product{
		background: #ffffff;
		padding: 15px 15px 0px 15px;
	}
	.show-product1{
		float: left;
	}

	.image-thumb{
		margin-bottom: 15px;
		padding: 5px 5px 5px 5px;
		border: 1px solid #eee;
	}
	.image-thumb a{
		color: #2570a8;
	}
	.xzoom:hover{
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
	}
	.image-thumb:hover{
		border:1px solid #eee;
	}
	.news{
		margin-top: 10px;
	}
	.image-thumb span{
		background: #2570a8;
		border-radius: 50px 50px 50px 50px;
		color: #ffffff;
		font-size: 12px;
		padding: 2px 5px 2px 5px;
	}
	/*------------------menu-footer------------------*/
	.menu-footer{
		background: #0277bd;
	}

	.menu-footer ul li{
		font-size: 13px;
		margin: 5px 0px -10px 0px;
		padding-right: 15px;
		padding-left: 18px;
	}
	sup{
		color:red;
	}
	.footer-content{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.menu-footer .fast-search{
		border-right: none;
	}
	.footer-content p{
		font-size: 14px;
	}
	.logo-footer{
		margin-left: 13px;

	}
	.logo-footer1{
		padding: 10px;
		border: 1px solid #eee;
	}
	.text{
		float:right;
	}
	.logo-footer img{
		border:1px solid black;
		margin-right: 10px;
	}
	.logo-footer .a1{
		color: #2570a8;
	}
	.logo-footer .a2{
		color: black;
		font-size: 12px;
		text-decoration: none;
		padding: 4px 10px 4px 10px;
	}
	.logo-footer i{
		color: #2570a8;
		width: 12px;
		height: 12px;
	}
	.logo-footer .xzoom{
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
	}
	.logo-footer span{
		margin-left: 10px;
		font-size: 14px;
	}
	.image-logo {
		margin-bottom: 15px;
	}
	.image-right img{
		height: 50px;
	}
	.image-left img{
		height: 70px;
		margin-left: 50px;
	}
	.image-left{
		margin-left: 20px;
	}
	.menu-final ul li{
		font-family: Arial, Tahoma, Verdana;
		font-size: 11px;
		float: left;
		color: #615f5f;
		border-right: 1px solid #615f5f;
		margin-bottom: 10px;
		padding: 0px 5px 0px 5px;
	}
	.menu-final a{
		color: #615f5f;
	}

	/*==================Posts page=====================*/
	.posts {
		margin-top: 135px;
		background-color: #ffffff;
		margin-bottom: 20px;
	}
	.post1 {
		margin-bottom: 50px;
		padding-top: 20px;
	}
	.post_form label {
		font-size: 14px;
	}
	.list-check-input label {
		float: left;
		margin-right: 45px;
	}
	
	.text2{
		border-bottom: 1px #795548 solid;
	}
	.text1 {
		margin-bottom: -6px;
	}
	.text1 span {
		bottom: -5px; 
		font-weight: bold;
	}
	.cate_choose {
		margin-left: 20px;
		background-color: rgb(216, 237, 253);
		font-size: 13px;
		padding: 7px 15px;
		border-radius: 3px;
		margin-right: 20px;
	}
	.post_title {
		margin-bottom: 30px;
	}
	.post2 span {
		font-size: 14px;
	}
	.concurrent {
		margin-top: 10px;
	}
	input[type=checkbox] {
		height: 20px;
		width: 20px;
		margin-right: 10px;
		background-color: #ffffff !important;
	}
	label.checkbox-inline {
		margin-right: 62px;
		font-size: 14px;
	}
	.post2 p {
		font-size: 14px;
		font-weight: bold;
	}
	.post2 small {
		color: red;
	}
	.btn-center {
		margin: 20px 0px 30px 0px;
	}
	.text-center button {
		background-color: rgb(255, 109, 31);
		border: medium none;
		border-radius: 3px;
		color: rgb(255, 255, 255);
		font-family: arial;
		font-size: 14px;
		font-weight: bold;
		height: 47px;
		text-transform: uppercase;
		width: 140px;
	}
	.upload-img-form {
		border: 2px dotted #e6e6e6;
		background: #fff;
		width: 100%;
		padding: 20px 15px 24px 15px;
		border-radius: 6px;
		display: inline-block;
	}
	.upload-img-form p {
		text-align: center;
	}
	.input-upload {
		padding-left: 60px;
	}
	.input-upload label {
		background: url(../images/interface/choose_img.png) no-repeat scroll 10px 4px #fff;
		border: 1px solid #DEDEDE;
		border-radius: 3px;
		color: #666666;
		cursor: pointer;
		float: left;
		font-size: 13px;
		font-weight: bold;
		margin-right: 15px;
		padding: 2px 12px 3px 56px;
		white-space: nowrap;
		height: 40px;
		line-height: 35px;
	}
	.upload-img-form p.ly-upload {
		width: auto;
		line-height: 16px;
		font-style: italic;
		margin-top: 0;
		padding-top: 50px;
		font-size: 9px;
		color: #666;
	}
	.check-input {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default radio button */
	.check-input input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	/* Create a custom radio button */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #eee;
	}

	/* On mouse-over, add a grey background color */
	.check-input:hover input ~ .checkmark {
		background-color: #ccc;
	}

	/* When the radio button is checked, add a blue background */
	.check-input input:checked ~ .checkmark {
		background-color: #2196F3;
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	.check-input input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the indicator (dot/circle) */
	.check-input .checkmark:after {
		top: 7px;
		left: 8px;
		width: 10px;
		height: 10px;
		background: white;
	}
	.list-radio{
		padding-left: 15px;
		padding-bottom: 30px;
	}

	.thumb {
		height: 100px;
		padding-left: 7px;
		padding-bottom: 10px;
	}
	.add-info {
		margin-bottom: 30px;
	}
	/*===================List Post===================*/
	.list-post {
		background-color: #ffffff;
		margin-top: 19px;
		margin-bottom: 40px;
		padding-bottom: 20px;
		padding-top: 10px;
	}
	.title_list .uppcase {
		text-transform: uppercase;
		font-weight: bold;
	}
	.info-post span, .title_list span {
		font-size: 14px;
	}
	.title_post a {
		text-decoration: none;
		font-weight: bold;
		color: #2570A9;
	}
	.title_post a:hover{
		color: #444;
	}
	.img_post img {
		height: 200px;
		width: 100%;
	}
	.avatar img {
		height: 50px;
		width: 50px;
	}

	/*================== DETAIL POST ====================*/
	.detail-post {
		background-color: #ffffff;
		margin-top: 130px;
		margin-bottom: 20px;
		padding-top: 20px;
		padding-left: 40px;
		padding-bottom: 40px;
	}
	.title-detail p {
		text-transform: uppercase;
		font-weight: bold;
		color: #2570a8;
	}
	.description b {
		color: #424040;
	}
	.detail-contact {
		margin-bottom: 20px;
	}
	.box-contact {
		margin-left: 170px;
		border: 1px solid #ebebeb;
		padding: 0px 20px 20px 20px;
	}
	.detail-contact i {
		color: #9999;
		padding-right: 15px;
		height: 30px;
	}
	.box-contact p {
		border-bottom: 1px solid #bdbdbd;
		color: #2570a8;
		font-weight: bold;
		font-size: 20px;
		padding-top: 20px;
	}
	.box-contact a {
		text-decoration: none;
		color: #2570a8;
	}
/*---------------responsive home site----------------*/
	@media screen and (max-width: 1200px){
		.dropdown-menu{
			margin-top: 113px; 
		}
		.dropdown-menu.drop-menu2.show {
			margin-top: 15px;
		}
	}
	@media screen and (max-width: 1199px){
		.header-top ul li {
			margin: 8px 0px 8px 2px;
		}
		.dropdown-menu{
			margin-top: 113px; 
		}
		.menu-left ul .nav-item {
			width: 215px;
		}
		.menu-top-child-1 {
			width: 310px;
		}
		.menu-top-child-1 a {
			margin-left: -33px;
		}
		.dropdown {
			margin-right: 10px;
		}
		.input-group {
			margin-left: 15px;
		}
		.post{
			margin-left: 13px;
		}
		.menu-footer ul li {
			padding-right: 10px;
			padding-left: 11px;
		}
		.menu-left a {
			font-size: 12px;
		}
		.menu-left p {
			font-size: 15px;
			margin-bottom: 2px;
			margin-top: 2px;
			font-weight: bold;
		}
		.menu-left-child {
			margin-left: 161px;
			margin-top: -85px;
			width: 741px;
		}
		.menu-left-child1 {
			margin-left: 161px;
			width: 741px;
			margin-top: -132px;
		}
		.child .title-child a {
			font-size: 10px;
			margin-left: -1px;
		}
		.child ul li a {
			font-size: 12px;
		}
		.title p {
			font-size: 14px;;
		}
		.image-thumb a {
			font-size: 13px;
		}
		.menu-footer a{
			font-size: 12px;
		}
		.image-left img {
			margin-left: 0px; 
		}
		.footer-content p {
			font-size: 13px;
		}
	}
	@media screen and (min-width: 993px){
		ul li:hover ul{
			display: block !important;
			border-right: none;
		}
	}
	@media screen and (max-width: 991px) {
		.child .title-child a {
			font-size: 9px;
			margin-left: -1px;
		}
		.child ul li a {
			font-size: 11px;
		}
		.menu-left .navbar {
			background: #ffffff;
		}
		.menu-left p {
			margin-top: 7px;
			margin-left: 45px;
			margin-right: 10px;
		}
		.menu-left ul .menu{
			display: none;
		}
		.menu-left-child {
			margin-left: -69px;
			margin-top: 8px;
			width: 732px;
			border: none;
		}
		.child {
			height: 317px;
		}
		.navbar-toggler-icon{
			float: left;
		}
		.menu-left {
			margin-top: 20px;
			margin-bottom: 10px;
		}
		.menu-left ul .nav-item {
			width: 100%;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #ffe184;
		}
		.menu-left ul .nav-item:last-child {
			border-bottom: none;
		}
		.menu-left ul .nav-item:nth-child(2) {
			border-top: none;
		}
		.menu-left-child1 {
			margin-left: -68px;
			width: 730px;
			margin-top: 7px;
			border: none;
		}

		.input-group {
			margin-left: 0px;
		}
		.post{
			display: none;
		}
		.city {
			font-size: 14px;
		}
		.button {
			padding: 0px 2px 0px 2px;
		}
		.search {
			font-size: 13px;
			padding: 5px 5px 5px 5px;
		}
		.product {
			margin-top: 0px;
			margin-bottom: 20px;
		}

	/*.menu-left {
		display: none;
		}*/
		.menu-footer ul li {
			padding-right: 2px;
			padding-left: 1px;
		}
		.menu-footer a {
			font-size: 11px;
		}
		.image-left img {
			height: 60px;
			margin-top: 20px;
			margin-left: -25px;
		}
		.image-right img {
			height: 40px;
		}
		.dropdown-menu {
			width: 478px;
			margin-top: 113px;
		}
		.menu-top-child {
			margin-left: -272px;
		}
		.drop-menu2 {
			width: 100px;
			margin-top: 0px;
			border-top: none;
		}
		.top-child {
			width: 672px;

			padding-right: 23px;
		}
		.bonus {
			padding: 5px 160px 5px 15px;
		}
		.menu-top-child-1 {
			margin-left: -48px;
		}
		.box-contact {
			margin-left: 100px;
			padding: 0px 5px 5px 5px;
		}
		.box-contact p {
			padding-top: 10px;
			font-size: 15px;
		}
		.box-contact a {
			font-size: 13px;
		}

		.text1 span {
			font-size: 13px;
		}
		.input-upload {
			padding-left: 5px;
		}
		.list-check-input label {
			margin-right: 15px;
		}
	}
	@media screen and (max-width: 767px) {
		/*@import url(js/menu-left.js);*/
		.logo{
			text-align: center;
			margin: 15px 0 0px 0px;
		}
		.logo-left{
			margin-bottom: 15px;
		}
		.menu-left {
			margin-top: 90px;
		}
		.header-top ul li {
			margin: 8px 5px 8px 0px;
		}
		.picture{
			display: none;
		}
		footer{
			display: none;
		}
		.show-product1 {
			padding: 15px 40px 0px 40px;
		}
		.menu-left-child {
			width: 552px;
		}
		.border-child{
			display: none;
		}
		.last-child2{
			display: none;
		}
		.menu-left-child1 {
			width: 551px;
		}
		.top-child3, .avatar{
			display: none;
		}
		
		.menu-top-child {
			margin-left: -31px;
		}
		.top-child {
			width: 490px;
			padding-bottom: 20px;
		}
		.top-child-left{
			display: none;
		}
		.dropdown-menu {
			margin-top: 182px;
			border-top: none;
		}
		.image-thumb a {
			font-size: 15px;
		}
		.image-thumb span {
			font-size: 15px;
			padding: 2px 10px 2px 10px;
		}
		.title p {
			font-size: 16px;
			font-weight: bold;
			color: #2570a8;
		}
		.button {
			padding: 0px 2px 0px 2px;
		}
		.title_post a {
			font-size: 14px;
		}
		.info-post span {
			font-size: 13px !important;
		}
		.detail-post {
			margin-top: 200px;
		}
		.description p{
			font-size: 13px;
		}
		.title-detail p {
			font-size: 15px;
		}
		.description b {
			font-size: 13px;
		}
		.box-contact {
			padding: 0px 2px 0px 2px;
		}
		.box-contact p {
			font-size: 14px;
		}
		.box-contact a {
			font-size: 12px;
		}
		.input-upload {
			padding-left: 145px;
		}
		.posts {
			margin-top: 200px;
		}
		.list-check-input label {
			margin-right: 44px;
		}
	}
	@media screen and (max-width: 575px){
		.dropdown {
			text-align: center;
		}
		.header-top ul li {
			margin: 8px 6px 8px 7px;
		}
		.menu-top-child {
			margin-left: -18px;
			padding-right: 7px;
		}
		.show-product1 {
			padding: 15px 70px 14px 70px;
		}
		.slide-image{
			display: none;
		}
		.box-contact {
			display: none;
		}
		.input-upload {
			padding-left: 165px;
		}
	}
	@media screen and (max-width: 425px){
		.border-child1 ,.adv,.top-child2,.news-top {
			display: none;
		}
		.show-product1 {
			padding: 15px 50px 14px 50px;
		}
		.top-child {
			width: 350px;
			padding-bottom: 9px;
		}
		.header-top ul li {
			margin: 7px 0px 8px 19px;
		}
		.menu-top-child-1 {
			margin-left: -38px;
		}
		.title p {
			font-size: 14px;
		}
		.main-dropdown{
			display: none;
		}
		.input-group {
			margin-left: 50px;
		}
		.menu-left-child1,.menu-left-child {
			width: 437px;
			margin-left: -69px;
		}
	}
	@media screen and (max-width: 375px){
		.header-top ul li {
			margin: 7px 0px 8px 12px;
		}
		.title p {
			font-size: 15px;
		}
		.menu-top-child-1 {
			margin-left: -75px;
		}
		.menu-top-child-1 a {
			margin-left: -45px;
		}
		.menu-top-child-1 p {
			font-size: 12px;
		}
		.menu-left-child1,.menu-left-child {
			width: 387px;
		}
		.child2 span, .child2 br {
			display: none;
		}
	}
	@media screen and (max-width: 320px){
		.help{
			display: none;
		}
		.input-group {
			margin-left: 38px;
		}
		.search {
			font-size: 11px;
			padding: 5px 1px 5px 1px;
		}
		.button {
			padding: 0px 0px 0px 0px;
		}
		.show-product1 {
			padding: 15px 25px 14px 25px;
		}
		.menu-left-child1, .menu-left-child {
			width: 331px;
		}
	}

