/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 15, 2017, 4:13:49 PM
    Author     : vuhai
    */

    body {    padding-top: 40px; background: #f1f1f1;

    }
    .screen-pc {  min-width: 994px;
      margin: 0 auto;}
      .nav-top {
        height: 30px;
        line-height: 30px;
        position: fixed;
        top: 0;
        z-index: 9999;
    }
    .brand-logo{
        font-weight:900;
    }
    .dropdown-content {
        background-color: #FFFFFF;
        margin: 0;
        min-width: 300px; /* Changed this to accomodate content width */
        max-height: auto;
        margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
        overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
        opacity: 0;
        position: absolute;
        white-space: nowrap;
        z-index: 1;
        will-change: width, height;
        overflow-y: auto !important;
    }
    .location-city {
        position: relative;
        width: 141px;
        float: left;
        text-align: center;
        display: inline-block;
    }
    .location-city .material-icons {
        height: 65px;
        line-height: 65px;
        padding: 0;
        margin:  0;
    }
    .email-nuser, .star-user, .shopping-user {
        height: 30px;
        line-height: 30px;

    }
    .star-user a i {
        width: 20px;
    }
    .email-nuser a i, .star-user a i, .shopping-user a i {
        height: 30px;
        line-height: 30px;
    }
    .nav-ul-top {
        line-height: 30px;
    }
    .list-location {
        display: none;
        position: absolute;
        width: 390px;
        z-index: 9999;
        left: -90px;
        float: left;
        background: #ffff;
        border-radius: 3px;
        box-shadow: 0 1px 4px #888888;
        float: left;
        padding: 0 15px 0 25px;
    }

    .list-location:after, .list-location:before  {
        left: 100px;
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        margin: -6px 0 0 15px;
    }


    .tag-list-location {
        width: 33%;
    }
    .title-location {
        font-size: 13px;
        font-weight: 700;
        color: #e8641a;
        padding-top: 15px;
        cursor: pointer;
        text-decoration: underline;
        height: 20px;
        line-height: 20px;
        text-align: left;
    }

    .tag-list-location ul .City {
        text-align: left;
        padding: 4px 2px;
        margin: 0;
        width: 100%;
        height: 20px;
        line-height: 20px;
    }
    .tag-list-location ul .City a {
        font-family: Tahoma, Verdana, Arial;
        font-size: 12px;
        text-decoration: none;
        color: #333;
        height: 10px;
        line-height: 10px;
    }
    .tag-list-location ul .City a  b {
        color: #2570a8;
    }
    .tag-list-location ul .City:hover a   {
        background: none;
        text-decoration: underline;
    }
    .tag-list-location ul .City:hover a b  {
        background: none;
        text-decoration: underline #2570a8;
    }
    .btn-close {
        top: 0;
        z-index: 9999;
        position: fixed;
    }
    .drop-top {
        top: -11px;
        left: 50%;
        margin-left: -11px;
        border-top-width: 0;
        border-bottom-color: #999;
        border-bottom-color: rgba(0,0,0,.25);
    }
    .close_city_new {
        height: 22px;
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        cursor: pointer;
        border-top-right-radius: 3px;
    }
    .header-logo-search {
        width: 100%;
        height: 65px;
        display: inline-block;
    }
    .location-city a {
        color: #121212;
        height: 65px;
        line-height: 65px;
    }
    .logo-header {
        width: 20%;
        height: 65px;
        line-height: 65px;
        display: inline-block;
        float: left;
    }
    .logo-header a {
        width: 100%;
        font-size: 24px;
    }
    .logo-header a img {
        width: 100%;
        display: inline-block;
        line-height: 65px;
        height: 65px;
    }
    .full-list {
        margin-top: 12px;
        width: 45%;
        border-bottom-left-radius: 3px;
        float: left;

        border: 1px solid #ebebeb;
        border-radius: 3px;
        position: relative;
        height: 38px;
    }
    .search-header {
        width: 22%;
        float: left;
        height: 40px;
        line-height: 40px;
    }
    .browser-default {

        border: none;
        border-right: 1px solid #ebebeb;
        cursor: pointer;
        float: left;
        height: 36px;
        line-height: 36px
    }
    .browser-default:focus option {
        border: none;
        box-shadow: none;
    }
    .select-search {
        background: red;
    }
    .btn-search i {
        height: 40px;
        line-height: 40px;
    }
    .list-category {
        position: absolute;
        border: 1px solid #ebebeb;
        /*margin-top: 20px;*/
        display: none;
        left: 0;
        top: 24px;
    }
    .search-header:hover .list-category {
        display: inline-block;
    }
    .from-search {
        width: 50%;
        float: left;
        padding-left: 10px;
        height: 40px;
        line-height: 40px;
    }
    .from-search  input {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .button-sr {
        width: 25%;
    }
    .from-search input[type="text"] {
        margin: 0;
        width: 100%;
        padding: 0;
        border: none;
        height: 40px;
        line-height: 40px;
    }
    .from-search input[type="text"]:focus {
        border: none;
        box-shadow: none;
    }
    .button-lg {
        height: 65px;
        line-height: 65px;
        padding: 14px 10px;
        display: inline-block;
    }
    .button-lg a {
        padding: 0 10px;
        background: #2570a8 ;
    }
    .button-lg:hover a.btn {
        background: #2570a8;
    }

    .menu-left {
        width: 100%;
        display: inline-block;
    }
    .nav-menu {
        display: inline-block;
        height: auto;

    }
    .nav-menu h3 {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        padding: 10px;
        width: 100%;
        margin: 0;
        display: inline-block;
    }
    .nav-menu h3 i {

        margin-right: 5px;
    }
    .nav-menu h3 span {
        display: inline-block;
        line-height: 25px;

    }
    .navigation li {
        width: 100%;
        display: inline-block;
        padding: 10px ;
        border-bottom: 1px #ebebeb solid;
    }
    .navigation li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: opacity .3s ease .2s,transform .4s ease .2s;
        color: #121212;
    }
    .navigation li a i {
        margin-left: 10px;
        margin-right: 5px;
        background: #fff;
        color: #0288d1;
        border: none;
    }
    .navigation li:hover {
        background: #ebebeb;
    }
    .navigation ul li:hover a i {
        border: none;
    } 
    .nav-menu .navigation {
        width: 100%;
        display: inline-block;
        margin: 0;
    }
    .baner-slide {
        display: inline-block;
        height: 170px;
    }
    .baner-index.col  {
        padding: 0;
    }
    .baner-index  img {
        width: 100%;
        height: 180px;
    }
    .slide-banel.col {
        padding: 0;
    }
    .mySlides {display:none;} 
    .slider-img {
        width: 100%;
        padding-left: 10px; 
    }
    .mySlides {
        width: 100%;
        height: 180px;
    }

    .conten-main {
        width: 100%;
        display: inline-block;
    }
    .title-conten h3 {
        text-transform: uppercase;
        background: url(../img/site/title_ct.png) no-repeat;
        height: 32px;
        line-height: 32px;
        color: #fff;
        padding-left: 15px;
        font-size: 12px;
    }
    .main-index {
        width: 100%;
        display: inline-block;
    }
    .main-tag {
        width: 100%;
        border: 1px #ebebeb solid;
    }
    .img-main-tag {
        position: relative;
        overflow: hidden;
        height: 182px;
    }
    .img-main-tag a {
        width: 100%
    }
    .img-main-tag a img {

        height: 100%;
    }
    .img-main-tag a .icon-hot {
        background: url(../img/site/icon_hot.png) no-repeat;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .box-maintag {
        width: 100%;
    }
    .box-maintag p {
        padding-left: 10px;
        color: #333;
        text-transform: capitalize;
        font-size: 12px;
        padding-bottom: 0;
        margin:  0;
    }
    .box-maintag p b{
        display: inline-block;
        margin-top: 5px;
    }
    .box-maintag:hover a p b{
        color: #f63;
    }
    .detail-box {
        margin-top: 5px;
    }
    .title-box {
        display: inline-block;
        width: 100%;
        background: #f63 url(../img/site/hover_ndnb_2.png) no-repeat right center;
        height: 22px;
        color: #fff;
        padding: 0 10px;
        line-height: 22px;
        font-weight: 700;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    } 
    .box-maintag:hover .title-box {
        background: #f63 url(../img/site/hover_ndnb_2.png) no-repeat right center;
    }
    .modal.container {
        width: 70%;
    }
    .page-details {
        width: 100%;
        display: inline-block;
        padding-left:  30px;
        position: relative;
    }
    .header-modal {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .title-modal-box {
        line-height: 36px;
        text-align: left;
        box-sizing: border-box;
        font-weight: 700;
        color: #444;
        font-size: 28px;
        width: 100%;
    }
    /*footer index home*/ 
    .nav-footer {
        height: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .nav-footer ul li {
        border-left:  1px #fff solid;
    }
    .nav-footer ul li:first-child {
        border-left: none;
    }
    .information-footer {
        width: 100%;
    }
    .information-footer h3 {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .information-footer p {
        padding: 0;
        margin: 0;
    }
    .information-footer p a {
        font-size: 14px;
        color: #263238;
    }
    .information-footer p a i {
        font-size: 13px;
        padding-right:  5px;
    }
    .logo-operator {
        width: 100%;
    }
    .logo-operator img {
        width: 35%;
        height: auto;
    }

    .modal-login {
        max-width: 400px;
        min-height: 500px;
    }
    .modal-conten {
        padding: 0 25px;
    }
    .button-login-rg {
        width: 100%;
        display: inline-block;
        position: relative;
        padding-top: 15px;
    }
    .button-login-rg a {
        margin-left: 10px;
    }
    .form-rigen {
        width: 100%;
        display: inline-block;
        padding-top: 15px;
    }
    .input-form {
        height: 50px;
    }
    .input-form-radio {
        height: 70px;
        display: inline-block;
        margin: 0;
    }
    .input-form-radio p {
        margin: 0;
    }
    .input-form input {
        height: 20px;
    }
    .input-form label {
        color: #9e9e9e;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
        cursor: text;
        transition: .2s ease-out;
        text-align: initial;
    }
    .input-form  label:not(.label-icon).active {
        font-size: .8rem;
        -webkit-transform: translateY(-110%);
        transform: translateY(-110%);
    }

    .logo-form-login {
        text-align: center;
        width: 100%;
    }
    .logo-form-login img {
        width: 70%;
        margin: 0 audio;
        display: inline-block;
    }
    /*KT*/ 
    .nodal-view-box {
        width: 1000px;
        height: 100%;
        padding: 0 25px;
    }
    .modal {
        min-height: 85%;
    }
    .modal-content .title-cnten {
        line-height: 36px;
        text-align: left;
        box-sizing: border-box;
        font-weight: 700;
        color: #444;
        font-size: 28px;
        margin: 0;
    }
    header_nodal {
        width: 100%;
    }
    .save_share {
        float: left;
        clear: both;
        width: 100%;
        line-height: 33px;
    }
    .seve-share-phone {
        margin-right: 10px;
        text-align: left;
        color: #9999;
    }
    .seve-share-view  a{
        margin: 0px;
        padding: 5px 25px 5px 20px;
        font-size: 13px;
        transition: all .2s ease-in-out;
        background: #ffffff/*#edf6fd*/;
        border: 1px solid #d6e8f5;
        border-radius: 20px;
    }
    .seve-share-view:hover a {
        box-shadow: 1px 2px 3px rgba(0,0,0,.2);
    }
    .next-view {
        text-align: left;
        background: #FFF;
        color: #999999;
        width: 280px;
        font-style: italic;
        font-size: 11px;
        padding-left: 10px;
    }
    .conten-header {
        display: inline-block;
        width: 100%;
        float: left;
        margin: 0 auto;
    }
    .detail-top-conten {
        width: 100%;

    }
    .detail-top-conten .title-total {
        font-size: 16px;
        margin: 0;
    }
    .detail-left {
        width: 50%;
    }
    .detail-top-conten .detail-left .ul-detail {
        float: left;
        width: 100%;
        list-style-type: inherit;
    }
    .detail-top-conten .detail-left  .ul-detail li {
        width: 90% !important;

    }
    .detail-top-conten .ul-detail li::before {
        content: "•  ";
        color: #64b5f6; /* or whatever color you prefer */
    }
    .daite-li {
        width: 100%;
    }
    .detail-top-conten ul .width-li {
        margin-right: 10px;
        float: left;    
    }

    .detail-right {
        margin-top: -75px;
        margin-left: 10px;
        margin-bottom: 20px;
        float: right;
        position: relative;
        z-index: 99;
        width: 250px;
    }
    .detail-box-right {
        border: 1px solid #ebebeb;
        font-family: "arial", tahoma, helvetica, clean, sans-serif;
        border-radius: 3px;
        width: 250px;
        float: right;
        box-sizing: border-box;
    }
    .title-user {
        margin: 0;
        background: #f8f8f8;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ebebeb;
        font-size: 16px;
        color: #121212;
        font-weight: bold;
    }
    .name-user {
        padding: 15px 15px 0px;
        width: 100%;
        font-size: 13px;
        text-align: left;
        color: #2570a8;
    }
    .name-user a {
        color: #2570a8;
        font-weight: 700;
    }
    .name-user i {
        color: #9999;   
    }
    .call_user {
        padding: 15px 15px 0px;
        width: 87%;
        font-size: 13px;
        text-align: left;
    }
    .call_user a {
        color: #2570a8;
    }
    .call_user i {
        color: 999;
    }
    .chat-user {
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
        line-height: 36px;
        text-align: center;
        box-sizing: border-box;
        margin: 15px 10px;
        cursor: pointer;
        font-weight: 700;
    }
    .seve-view-sahre {
        width: 100%;
        padding-left: 10px;
    }
    .seve-view-sahre p {
        width: 50%;
        float: left;
    }
    .seve-view-sahre p a {
        padding:  0 10px;
        font-size: 14px;
        text-transform:  none;
        color: #121212;
    }
    .close-top.btn-floating {
        position: fixed;
        top: 0;
        right: 0;  
    }
    .close-top.btn-floating i { 
        width: inherit;
        display: inline-block;
        text-align: center;
        color: #121212;
        font-size: 1rem;
        line-height: 40px;
    }
    .map-user-locaiton {
        display: none;
    }

    /* Map inside tab */
    #map_1 {
        height: 338px;
        width: 100%;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .view-extra {
        width: 100%;
        display: inline-block;
    }
    .view-extra-img {
        width: 100%;
        display: inline-block;
    }
    .fullwidth-img {
    }
    .fullwidth-img ul {
        list-style-type: none;
        margin: 0;
    }
    .fullwidth-img ul li {
        width: 100%;
        list-style-type: none;
    }
    .fullwidth-img ul li img {
        width: 100%;
    }
    .slide-img {
        width: 50%;
        display: inline-block;
    }
    .slide-img .large-5 {
        width: 100%;
        padding-top: 25px;
        list-style-type: none;
    }
    .slide-img .large-5  #xzoom-default {
        max-height: 300px;
        width: auto !important;
        max-width: 100%;
        /*padding: 5px;*/
    }
    .xzoom-thumbs.list-thumb-view a img {
        height: 66px;
        width: auto;
    }
    .slide-img  .xzoom-thumbs {
        width: 100%;

        padding-left: 5px;
        padding-top: 5px;
    }
    .xzoom-preview {
        position: fixed !important;
        top: 55px !important;
        z-index: 9999;
    }
    .list-imgzoom {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .list-imgzoom #xzoom-default {
        /*width: 35% !important;*/
        /*float: right;*/
    }
    .list-imgzoom .list-thumb-view {
        float: left;
        width: 100%;
    }

    .hot-news {
        position: relative;
        padding: 20px;
        border: 2px dotted #c0c0c0;
        border-radius: 4px;
        background: #f9f9f9;
        background-clip: padding-box;
        width: 100%;
        clear: both;
        float: left;
        margin: 37px 0px 0px 0px;
    }
    .buy-hot-news {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 11px;
        display: inline-flex;
    }
    .buy-hot-news span {
        display: block;
        padding: 10px 0;
    }
    .buy-hot-news i {
        margin: 0;
        padding-top: 5px;
    }

    .content-news p {
        text-transform: uppercase;
        font-size: 14px;
        padding-bottom: 15px;
        color: #121212;
    }
    .content-news ul li {
        width: 100%;
        position: relative;
        margin-bottom: 19px;
        padding-left: 15px;
    }

    .content-news ul li a {
        color: #333;
        font-size: 13px;
        transition: all .3s ease-in-out;
    }
    .content-news ul li:before, .content-news ul li:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 0px;
        border: 4px solid transparent;
        border-left-color: #ff6600;
    }
    .related-news {
        width: 100%;
        margin-top: 25px;
        display: inline-block;
    }
    .title-heding {
        margin-top: 30px;
        height: 2px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 30px;
        border: 1px solid #ccc;
    }
    .title-heding  span {
        background: #f9f9f9;
        font-weight: 700;
        font-size: 18px;
        padding: 0 10px 0 0;
        position: relative;
        top: -11px;
        margin-left: -1px;
        letter-spacing: -1px;
        display: inline-block;
        text-transform: uppercase;
        color: #259cd6;
    }
    .related-view {
        width: 100%;
        display: inline-block;
        border-bottom: 1px #ccc solid;
        padding: 25px 0;
    }
    .related-view:last-child {
        border: none;
    }
    .img-related {
        float: left;
        width: 120px;
        background: #ebebeb;
        margin-right: 15px;
    }
    .img-related img {
        width: 100%;
    }
    .box-related {
        width: 78%;
        display: inline-block;
    }
    .box-related.related-view-lt {
        width: 100%;
    }
    .box-related .title-related {
        width: 90%;
        font-size: 14px;
    }
    .box-related .title-related a {
        font-weight: 700;
        line-height: 22px;
        color: #333;
    }
    .box-related .title-related a:hover {
        color: #2570a8;
        text-decoration: none;
    }
    .location-related {
        float: left;
        width: 100%;
        clear: both;
        color: #999;
        font-size: 12px;
    }
    .location-related p {
        width: 100%;
        margin-bottom: 2px;
        margin-top: 7px;
        font-size: 12px !important;
    }
    .location-related p i {
        margin-right: 5px;
        font-size: 16px;
    }
    .time-box { 
        float: left;
        width: 100%;
        clear: both;
        margin-top: 6px;
        color: #999;
        font-size: 12px;
    }
    .time-box ul {
        float: left;
        position: relative;
        width: 100%;
        font-size: 13px !important;
    }
    .time-box ul li.set-datebox {
        font-size: 12px;
        color: #999999;
        line-height: 17px;
        text-align: left;
        float: left;
        width: auto !important;
    }
    .time-box ul li.set-datebox i {
        margin-right: 5px;
        font-size: 15px;
    }
    .time-box ul li.btn-related {
        float: right;
        padding-left: 0;
        margin-right: 5px;
        line-height: 17px;
    }
    .time-box ul li.btn-related a.btn-tag {
        float: left;
        padding: 0 10px;
        border: 1px #ccc solid;
        color: #999999;
        border-radius: 10px;
        margin-left: 10px;
    }
    .time-box ul li.btn-related a.btn-tag i.material-icons {
        font-size: 14px;
        margin: 0;
        margin-right: 5px;
        padding: 0;
        border: none;
        margin-top: 2px;
    }
    .time-box ul li .btn-seve span {
        color: #0966ac;
    }
    .time-box ul li .btn-seve i {
        color: #0966ac;
    }
    .time-box ul li .btn-seve:hover  {
        background: #f1f1f1;
    }
    .time-box ul li .btn-op:hover {
        background: #f1f1f1 ;
    }
    .mySlides {display:none}

    /*KT show news*/
    .no-nav-fixed {
        position: relative;
        margin-top: -40px;
    }
    .header-view-search {
        margin-top: 0;
    }
    .header-show-search {
        width: 100%;
        display: inline-block;
        margin-top: 0;
    }
    .nav-show-search {
        margin: 0px auto;
        height: 50px;
        line-height: 55px;
        position: relative;
    }
    .dropdow-show-search {
        float: left;
        padding: 0px 10px;
        float: left;
        z-index: 500;
        font-size: 15px !important;
        font-family: arial, helvetica, Microsoft;
        font-weight: bold;
    }
    .dropdow-show-search a .material-icons {
        border-radius: 50%;
        padding: 0 6px;
    }
    .dropdow-show-search  i {
        height: 50px;
        line-height: 55px;
    }
    .from-search-show {
        float: left;
        position: relative;
        float: left;
        width: 280px;
    }
    .from-search-show form input {
        height: 50px;
        line-height: 55 px;
        border: 1px #red solid;
        margin-bottom: 0;
    }
    .from-search-show form input[type="text"] {
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        width: 100%;
        font-size: 1rem;
        padding: 0;
        padding-left: 10px;
        box-shadow: none;
        box-sizing: content-box;
        transition: all 0.3s;
        height: 28px;
        position: relative;

    }
    .from-search-show .form-fix input[type="text"] {
        color: #fff;
    } 
    .from-search-show form span.material-icons {
        right: 0;
        top: 0;
        position: absolute;
        padding-top: 15px;
        margin-right: 0;
        color: #121212;
    }
    .fixed-header .from-search-show form span.material-icons {
        padding-top: 10px;
    }
    .from-search-show form input[type="text"]:focus {
        border-bottom-color: currentcolor;
        border: 1px solid;
        box-shadow: none;
    }
    .logo-show-header {
        height: 50px;
        line-height: 55px;
        float: left;

    }
    .logo-show-header img {
        width: 100%;
        padding-left: 20px;
        height: 50px;
        line-height: 55px;
    }
    .btn-show {
        padding-top: 8px;
        height: 50px;
        line-height: 55px;
    }
    .btn-show  a {
        padding: 0 10px;
        background: #2570a8;
    }
    .btn-show:hover a {
        background: #2570a8;
    }
    .menu-dropdow {
        width: 740px;
        padding: 0px;
        max-width: 900px !important;
        display: none;
        position: absolute;
        box-shadow-top: none;
        left: 0;
        top: 56px;
        z-index: 9999;
    }
    .fixed-header .nav-show-search .menu-dropdow {
        top: 41px;
    }
    .menu-dropdow:after, .menu-dropdow:before {
        left: 100px;
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        margin: -7px 0 0 15px;
    }
    .menu-dropdow-left {
        position: relative;
        width: 460px;
        float: left;
        background-color: #ffffff;
        padding-bottom: 50px;
    }
    .menu-dropdow-left ul {
        width: 100%;
        display: inline-block; 
        padding-left: 35px;
        margin-top: 0;
    }
    .menu-dropdow-left  ul Li {
        list-style-type: square;
        width: 50%;
        float: left;
        margin-left: 0;
        font-size: 12px !important;
        box-sizing: border-box;
        padding: 8px 0 7px 0px ;

    }
    .menu-dropdow-left ul Li a {
        background: none;
        font-family: roboto_regular;
        position: relative;
        font-size: 13px;
        font-weight: 400;
        height: auto;
        height: 20px;
        line-height: 20px;
        display: block;
        color: #121212;
    }
    .menu-dropdow-left ul Li a.active {
        color: #ff6600;
    }
    .menu-dropdow-left ul Li:hover a {
        text-decoration: underline;
    }
    .menu-dropdow-right {
        box-sizing: border-box;
        background-color: #f7f7f7;
        padding-left: 35px;
        overflow: hidden;
        padding-bottom: 35px;
    }
    .menu-dropdow-right p {
        font-size: 12px;
        font-family: "roboto_medium";
        font-weight: normal !important;
        color: #666666;
        text-transform: uppercase;
        width: 100%;
        text-align: left;
        float: left;
        cursor: default;
        display: inline-block;
        height: 20px;
        line-height: 35px;
    }
    .menu-dropdow-right ul {
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 0px !important;
        background-color: #f7f7f7 !important;
        padding: 0;
        display: block;
        float: left;
        margin: 0;
    }
    .menu-dropdow-right ul li {
        font-size: 12px !important;
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
    .menu-dropdow-right ul li a {
        float: left;
        font-size: 13px !important;
        font-family: "roboto_light" !important;
        color: #2570a8;
        line-height: 30px;
        text-align: left;
        position: relative;
        padding-left: 0px;
        background: none;
    }
    .fixed-header {
        height: 35px;
        line-height: 35px;
    }
    .fixed-header .nav-show-search {
        height: 40px;
        line-height: 40px;
    }
    .fixed-header .dropdow-show-search {

        padding: 0;
        padding-top: 5px;
    }
    .fixed-header .dropdow-show-search span {
        height: 35px;
        line-height: 35px;
    }
    .fixed-header .dropdow-show-search i {
        height: 35px;
        line-height: 35px;
        padding-bottom:  5px;
    }
    .fixed-header .from-search-show {
        height: 35px;
        line-height: 35px;
    }
    .fixed-header .from-search-show form {
        height: 35px;
        line-height: 35px;
        padding-top: 4px;
    }
    .fixed-header .menu-dropdow {
        top: 45px;
    }
    .fixed-header .menu-dropdow:after, .fixed-header .menu-dropdow:before {
        left: 70px;
    } 
    .btn-login a {
        color: #fff;
        padding-left: 10px;
        border-left: 1px #ccc solid;
        font-size: 11px;
    }
    .btn-login a:first-child {
        border-left: none;
        padding-right: 10px;
    }
    #fixNav{
        width: 100%;
        background-color: #0082bb;
        display: block;
        position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
        top: 0; /*Nằm trên cùng*/
        left: 0; /*Nằm sát bên trái*/
        z-index: 100000; /*Hiển thị lớp trên cùng*/
        display: none;
        height: 40px;
    }
    /*KT*/
    .search-new {
        float: left;
        margin-right: 6px;
        position: relative;
        border-radius: 4px;
        width: 100%;
        font-size: 13px;
        color: #333;
    }
    .heading-search-new {
        background: #ecdf5d;
        text-transform: uppercase;
        text-align: left;
        padding-left: 10px;
        box-sizing: border-box;
        line-height: 33px;
        height: 32px;
        border-radius: 4px 4px 0px 0px;
        color: #333333 !important;
        font-size: 14px !important;
        margin: 0;
    }
    .heading-search-new i {
        height: 32px;
        line-height: 32px;
    }
    .list-category-search {
        padding: 0px 15px;
        position: relative;
        float: left;
        width: 100%;
        border-bottom: 1px #ccc solid;
    }
    .hide-view-list p.tt-list-view {
        margin-bottom: 15px;
    }
    .hide-view-list p.tt-list-view a  {
        color: #2570a8;
        font-size: 13px;
        font-weight: bold;
    }
    .ul-list-category {
        background: #fff;
        width: 100%;   
        display: none;
    }
    .ul-list-category li {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        padding-left: 10px;
        cursor: pointer;
        margin-bottom: 13px;
        color: #666;
    }
    .ul-list-category li a {
        color: #333;
        font-size: 13px;
        display: block;
    }
    .ul-list-category li:hover a {
        color: #ff6600;
        text-decoration: underline;
    }
    .ul-list-category li:hover a.active {
        color: #333;
        text-decoration: none;
    }
    .list-city-search {
        float: left;
        clear: both;
        width: 100%;
    }
    .total-city-search {
        padding: 14px 15px;
        position: relative;
        float: left;
        width: 100%;
        border-bottom: 1px #ccc solid;
    }
    .tt-city {
        text-transform: uppercase;
        margin-top: 5px;
        color: #444;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
    }
    .check-city {
        width: 100%;
        color: #2570a8;
        margin: 0;
    }
    .check-city span {
        font-weight: bold;
    }
    .list-check-city {
        width: 100%;
        float: left;
        position: relative;
        padding-top: 10px;
        text-align: left;
        box-sizing: border-box;
        cursor: pointer;
        color: #555555;
        margin: 0;
    }
    .list-check-city:hover {
        background: #fbfbfb;
    }
    .show-list-city {
        position: absolute;
        top: -30px;
        left: 215px;
        width: 520px;

        border-radius: 4px;
        z-index: 100;
        box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    }
    .list-city {
        background: #fff;
        padding: 0 25px;
        display: inline-block;
        width: 100%;
    }
    .tt-list-city {
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        cursor: pointer;
        padding-bottom: 30px;
        border-bottom: 1px dashed #d8d8d8;
        width: 100%;
    }
    .city-location {
        font-size: 13px;
        color: #2570a8;
        font-weight: bold;
    }
    .ul-list-city {
        float: left;
        width: 100%;
        height: 190px;
        overflow-y: auto !important;
        margin-bottom: 0px !important;
    }
    .ul-list-city ul {
        width: 100%;
        display: block;
    }
    .ul-list-city ul li {
        padding-bottom: 10px;
        width: 33%;
        float: left;
        cursor: pointer;
    }
    .check-full-zed {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding-top: 15px;
        margin-top: 20px;
    }
    .img-posting span.check-ct {
        cursor: pointer;
        color: rgb(37, 112, 168);
        padding-right: 5px;  
        top: 0;
        left: 0;
    }
    .check-full-zed span.filter-news {
        background: #FFAC43;
        color: #fff;
        font-size: 13px;
        border-radius: 4px;
        padding: 5px 17px;
        cursor: pointer;
    }
    .check-full-zed span.filter-news:hover {
        background: #ffbc68;
    }
    .ul-list-location {
        width: 100%;
    }
    .ul-list-location .ul-location {
        float: left;
        width: 100%;
        margin: 0;
    }
    .ul-list-location .ul-location li {
        width: 33.33%;
        float: left;
    }
    .ul-list-location .ul-location li p {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 13px;
    }
    .ul-list-location .ul-location li p:hover {
        color: #2570a8;
    }
    .ul-list-location .ul-location li p:active {
        color: #2570a8;
        font-weight: 700;
    }
    .ul-list-location .ul-location li p:focus {
        color: #2570a8;
    }
    .click-show-city {
        float: left;
        width: 100%;
        min-height: 40px;
        line-height: 40px;
        border-top: 1px dashed hsl(0, 0%, 85%);
        color: #2570a8;
        margin: 0;
    }
    .click-show-city i {
        min-height: 40px;
        line-height: 40px;
    }
    /*Scroll bar*/ 
    .scrollbar-location {
        height: 155px;
        overflow-y: auto !important;
        margin-bottom: 0px !important;
    }
    #scroll-lt::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    #scroll-lt::-webkit-scrollbar
    {
        width: 10px;
        background-color: #F5F5F5;
    }
    #scroll-lt::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #ccc;
    }
    /*KT*/
    .list-checkbox {
        float: left;
        clear: both;
        width: 100%;
        padding: 14px 15px;
        border-bottom: 1px #ccc  solid;
    }
    .list-checkbox [type="checkbox"] + label  {
        padding-left: 25px;
        color: #121212;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }
    .list-checkbox ul li {
        margin: 0;
        padding: 0;
        height: 25px;
    }
    .list-checkbox li input {
        background: red;
        color: red;
    }
    .list-input-checkbox ul {
        margin-bottom: 0;
        margin-left: 0;
    }
    .list-input-checkbox ul.ul-list-check li {
        width: 50%;
        float: left;
        height: 25px;
        display: inline-block;
    }
    /*KT*/
    .content-view-search {
        width: 100%;
    }
    .heading-title-view {
        width: 100%;
        display: inline-block;
        padding-top: 10px;
    }
    .heading-nuber {
        width: 40%;
        float: left;
        display: block;
    }
    .heading-nuber h3 {
        font-size: 16px;
        float: left;
        text-transform: uppercase;
        margin-bottom: 10px;
        line-height: 20px;
        margin: 0;
        width: 100%;
        padding-left: 15px;
    }
    .heading-nuber h3 a {
        font-weight: bold;
        color: #555555;
    }
    .heading-nuber p {
        font-size: 13px;
        line-height: 13px;
        float: left;
        clear: both;
        padding-left: 15px;
        margin: 0;
        padding-top: 5px;
    }
    .heading-nuber p .view-city {
        color: #2570a8;
        font-weight: bold;
    }
    .dropdown-news {
        float: right;
        padding-right: 10px;
        position: relative;
    }
    .dropdown-news .dropdow-click {
        background-color: rgb( 249, 249, 249 );
        font-size: 13px;
        font-family: "roboto_medium";
        color: rgb( 102, 102, 102 );
        text-align: left;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        box-sizing: border-box;
        float: left;
        border-bottom: 1px solid rgb( 234, 234, 234 );
        cursor: pointer;
        border-radius: 3px;
        width:  135px;
    }
    .dropdown-news .dropdow-click i {
        height: 30px;
        line-height: 30px;
    }
    .dropdow-sup {
        position: absolute;
        top: 0;
        margin: 0;
        display: none;
        z-index: 101;
    }
    .dropdow-sup li {
        background-color: rgb( 249, 249, 249 );
        font-size: 13px;
        font-family: "roboto_medium";
        text-align: left;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        box-sizing: border-box;
        float: left;
        border-bottom: 1px solid rgb( 234, 234, 234 );
        cursor: pointer;
        border-radius: 3px;
        width:  135px;
    }
    .dropdow-sup li a {
        color: rgb( 102, 102, 102 );
    }
    /*KT*/
    .list-content-shearch {
        width: 100%;
    }
    .content-search {
        clear: both;
        padding: 20px 15px;
        border-top: 1px solid #ebebeb;
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        margin-bottom: -6px;
        padding-top: 30px;
    }
    .active-content {
        background: #fdf6ec;
    }
    .set-vip {
        position: relative;
        height: auto;
        width: 100%;
        float: left;
        text-align: left;
        margin-top: -15px;
        font-family: roboto_regular !important;

    }
    .set-vip a {
        color: #01579b  ;

    }
    .set-vip a:hover {
        text-decoration: underline;
    }
    .set-vip i {
        margin-right: 5px; 
        padding-top: 2px;
        font-size: 18px;
    }
    .box-left-img {
        width: 20%;
        float: left;
        text-align: center;
        overflow: hidden;
    }
    .box-left-img a {
        overflow: hidden;
        float: left;
    }
    .box-left-img img {
        height: 160px;
        width: 180px;
    }
    .box-right-text {
        width: 80%;
        display: inline-block;
        box-sizing: border-box;
        float: left;
        position: relative;
    }
    .box-right-text p.heading-box {
        width: 100%;
        margin: 0;
        display: inline-block;
        padding-left: 15px;
    }
    .box-right-text p a {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #444;
        line-height: 25px;
        text-align: left;
        display: inline-flex;
        text-transform: uppercase;
        font-weight: bold;
    }
    .box-right-text p a i {
        margin-right: 5px;
        color: #f38e08;
    }
    .location-box {
        padding-left: 15px;
        position: relative;
        width: 100%;
        font-size: 13px !important;
        color: #424242  ;
        margin-top: 0;
    }
    .location-box i {
        font-size: 18px;
        margin-right: 5px;
        color: #ccc ;
    }
    .infor-content {
        width: 100%;
    }
    .infor-content ul {
        float: left;
        margin: 0;
        width: 100%;
        margin-top: 8px;
        padding-left: 15px;
    }
    .infor-content ul .mony-bds {
        font-weight: bold;
        color: #f38e08;
    }
    .infor-pll {
        color: #78909c;
        padding-top: 10px;
    }
    .infor-content ul li {
        padding-right:  10px;
    }
    .infor-content ul li i {
        margin-right: 5px;
        color: #ccc;
        font-size: 18px;
        padding-top: 3px;
    }
    .infor-content ul li span {
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .view-tag {
        float: right;
    }
    .seller-infor {
        width: 100%;
        display: inline-block;
    }
    .seller-infor p {
        margin: 0;
        font-size: 12px;
        padding-left: 15px;
    }  
    .seller-infor .name-infor {
        display: inline-block;
        font-size: 14px;
        float: left;
        padding-right: 15px;
        font-weight: 700;
    }
    .seller-infor .phone-infor {
        font-size: 12px;
        color: #01579b ;
    }
    .seller-infor .phone-infor i {
        margin-right: 5px;
        line-height: 18px;
    }
    .seller-infor .phone-infor a {
        font-size: 12px;
        float: left;
        width: initial;
        line-height: 18px;
        color: #01579b ;    
    }
    .seller-infor .phone-infor a:hover {
        text-decoration: underline;
    }
    .infor-set-data {
        width: 100%;
        display: inline-block;
    }
    .infor-set-data ul {
        float: left;
        padding-left: 10px;
        width: 100%;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .tab-li {
        display: inline-block;
        float: right;
    }
    .tab-li.px {
        padding-left:  20px;
        padding-right: 5px;
    }
    .tab-li a {
        border: rgb( 235, 235, 235 ) solid 1px;
        background-color: rgb( 255, 255, 255 );
        border-radius: 8px;
        display: inline-block;
        padding: 0 0;
        padding-right: 5px;
        font-size: 14px;
        margin-top: -4px;
    }
    .tab-li a i {
        color: #f50057; 
        margin-right: 5px;
        line-height: 22px;
        font-size: 16px;

    }
    .tab-li a span {
        font-size: 14px;
        color: #263238 ;
        line-height: 22px;
    }
    .infor-set-data ul li.tab-li a.add-news span, .infor-set-data ul li.tab-li a.add-news i {
        color: #2570a8;
    }
    .infor-set-data ul li.tab-li:hover a {
        background: #eceff1 ;
    }
    .infor-set-data ul li.tab-li a i {
        font-size: 18px;
        padding-top: 2px;
    }
    .infor-set-data ul li i {
        padding-left: 5px;
        margin-right: 5px;
        font-size: 17px;
        color: #ccc;
        padding-top: 0px;
    }
    .infor-set-data ul li span {
        font-size: 12px;
    }
    .none-img {
        display: none;
    }
    .full-box {
        width: 100%;
        padding-right: 25px;
    }
    .list-tab {
        text-align: center;
        padding-bottom: 25px;
    }
    .list-tab ul li  {
        border: 1px #ccc solid;
    }
    .list-tab ul li a {
        font-size: 14px;
    }
    .list-tab ul li.n-priv  {
        border: none;
    } 
    ///////////////////////////////*Form news*/
    .nav-menu-form {
        width: 100%;
        border:  3px #fff solid;
        display: inline-block;
        position: relative;

    }
    .nav-menu-form h3 {
        height: 60px;
        line-height: 60px;
        border-top: 3px #fff solid;
        padding-left: 30px;
        margin: 0;
        position: relative;
    }
    .nav-menu-form h3:first-child {
        border-top: none;
    }
    .nav-menu-form h3 i {
        font-size: 35px;
        height: 60px;
        line-height: 60px;
    }
    .nav-menu-form h3 span {
        color: #121212;
        height: 60px;
        line-height: 60px;
    }
    .ul-meunu-form {
        position: absolute;
        left: 330px;
        width: 280px;
        margin: 0;
        padding-bottom: 15px;
        z-index: 199;
        transform: all 0.6s;
        border-radius: 5px;
        box-shadow:  0 0 0 2px #eceff1 ;
    }
    .ul-meunu-form .title-nenu-form {
        width: 100%;
        height: 30xp;
        line-height: 30px;
        padding-left: 15px;
    } 
    .ul-meunu-form .title-nenu-form .material-icons {
        height: 30xp;
        line-height: 30px;
        transform: rotate(-180deg);
    }
    .number-tt {
        background: #ffab00 ;
        padding: 0 15px;
        border-radius: 4px;
        color: #fff;
    }
    .title-nenu-form .black-text {
        font-size: 18px;
        font-weight: bold;
        padding-left: 10px;
    }

    .icon-hover-menu:hover .ul-meunu-form {
        display: block;
    }
    #dropdown3 {
        display: none;
    }
    .dropdown-button2:hover #dropdown3 {
        display: block;
    }
    .conten-main-form {
        /*border-left: 1px #ccc solid;*/
        width: 100%;
        float: left;
        display: inline-block;
        /*background: #fff;*/
        /*height: 400px;*/
        /*padding: 0 15px;*/
    }
    .form-heding {
        position: relative;
        width: 100%;
        border-bottom: 1px #795548 solid;
        padding: 15px 0;
    }
    .form-heding  span {
        position: absolute;
        background: #fff;
        height: 20px;
        line-height: 20px;
        bottom: -5px;
        padding-right: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        z-index: 10;
        padding-left: 15px;
    }
    .title-from {
        padding: 0 45px;
        padding-bottom: 26px;
        padding-top: 32px;
        color: #333333 !important;
        font-size: 14px !important;
        background: #fff;

    }
    .white-backgruond {
        /*display: inline-block;*/
        height: 50px;
    }
    .form-conten {
        /*padding: 0 35px;*/
    }
    .view-form-title {
        margin-left: 20px;
        background-color: rgb(216, 237, 253);
        font-size: 13px;
        padding: 7px 15px;
        border-radius: 3px;
        margin-right: 20px;
    }
    .link-menu-form {
        color: #2570a8;
        cursor: pointer;
    }
    .clear {
        clear: both;
    }
    .select-input {
        width: 100%;
        display: block;
    }
    .select-input p.note-form {
        margin-top: -15px;
    }
    .input-ption {
        position: relative;
    }
    .input-ption  span.acreage {
        position:  absolute; 
        right: 0;
        top: 0;
        margin-top: 5px;
    }
    .content-posting {
        width: 100%;    
        padding: 0 45px;
    }
    .content-posting-left {
        width: 65%;
        float: left;
    }
    .form-conten form input {
        width: 100%;
        display: inline-block;
    }
    .form-conten form input[type="text"] {
        background-color: transparent;
        border: none;
        border: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 2rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 20px 0;
        padding: 0;
        padding-left: 5px;
        box-shadow: none;
        box-sizing: content-box;
        transition: all 0.3s;
    }
    [type="checkbox"] + label::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        z-index: 0;
        border: 2px solid #ccc;
        border-radius: 1px;
        margin-top: 4px;
        transition: .2s;

    }
    [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after, [type="radio"]:checked+label:before, [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
        border-radius: 0px; 
        width: 16px;
        height: 16px;
        display: inline-block;
    }
    [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
        border: 2px solid #ccc;
        margin-top: 4px;
    }
    [type="radio"] + label:before,
    [type="radio"] + label:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 0px;
        width: 16px;
        height: 16px;
        margin-top: 4px;
        z-index: 0;
        transition: 0s ease;
    }
    [type="radio"]:checked+label {
        color: #121212;
        font-size: 12px;
    }
    [type="radio"]:not(:checked)+label  {
        padding-left: 30px;
        font-size: 12px;
        color: #121212;
    }
    .check-input ul li input[type="checkbox"]+label {
        padding-left: 20px;
        color:  #37474f;
    } 
    .upload-img-form input[type="checkbox"]+label {
        padding-left: 20px;
    }
    .form-conten .dropdown-content li {
        clear: both;
        color: rgba(0,0,0,0.87);
        cursor: pointer;
        min-height: 30px;
        line-height: 1.5rem;
        width: 100%;
        text-align: left;
        text-transform: none;
    }
    .form-conten .dropdown-content li span {
        font-size: 12px;
        color: #26a69a;
        display: block;
        line-height: 18px;
        padding: 5px;
    }
    .disabled-form {
        width: 33.33%;
        float: left;
        line-height: 35px;
    }
    .select-old {
        width: 33.33%;
        float: left;    
        margin: 0;
        padding-right: 15px;
    }
    .input-old {
        width: 33.33%;
        float: left;
        padding-right: 15px;
    }
    .input-heading  {
        padding: 0 45px;
    }
    .form-conten .input-heading  input[type="text"] {
        margin-bottom: 5px;
    }
    /*KT*/
    .content-posting-right {
        width: 35%;
        float: left;
        display: inline-block;
        padding-left: 30px;
        padding-top: 15px;
    }
    .upload-img-form {
        border: 2px dotted #e6e6e6;
        background: #fff;
        width: 100%;
        padding: 20px 15px 24px 15px;
        border-radius: 6px;
        display: inline-block;
    }
    .upload-img-form p {
        text-align: center;
    }
    .input-upload {
        padding-left: 15px;
    }
    .input-upload label {
        background: url(../img/site/choose_img.png) no-repeat scroll 10px 4px #fff;
        border: 1px solid #DEDEDE;
        border-radius: 3px;
        color: #666666;
        cursor: pointer;
        float: left;
        font-size: 13px;
        font-weight: bold;
        margin-right: 15px;
        padding: 2px 12px 3px 56px;
        white-space: nowrap;
        height: 40px;
        line-height: 35px;
    }
    .upload-img-form p.ly-upload {
        width: auto;
        line-height: 16px;
        font-style: italic;
        margin-top: 0;
        padding-top: 60px;
        font-size: 9px;
        color: #666;
    }
    .textarea-form {
        width: 100%;
        display: inline-block;
        padding-bottom: 25px;
    }
    /*KT*/ 
    .hr-backruond {
        border: 1px #ccc solid;
        margin: 0 -50px;
    }
    .hr-backruond-tt {
        border: 5px #ccc solid;
        margin: 0 -50px;
    }
    .additional-form {
        width: 100%;
        display: inline-block;
        margin-top: 5px;
        background: #fff;
        padding: 0 45px;
        padding-top: 15px;
    }
    .title-addtional {
        width: 100%;
    }
    .title-addtional p {
        font-size: 14px;
        text-transform: uppercase;
        color: #111;
        margin-bottom: 30px;
        line-height: normal;
        font-weight: bold;  
    }
    .check-input {
        width: 100%;
        display: inline-block;
    }
    .check-input p {
        width: 100%;
        font-weight: bold;
        font-size: 12px;
        float: left;
        margin-bottom: 16px;
    }
    .check-input ul {
        width: 100%;
    }
    .check-input ul li {
        float: left;
        margin-right: 25px;
        margin-bottom: 13px;
        padding: 4px 0px 4px 25px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .contact-info {
        background: #fff;
        margin-top: 15px;
        padding: 0 45px;
    }
    .tt-contactinfo {
        font-size: 14px;
        text-transform: uppercase;
        color: #111;
        border-bottom: 1px solid #fbe7de;
        margin-bottom: 20px;
        line-height: normal;
        /*padding-right:  35px;*/
        padding-top: 15px;

    }
    .tt-contactinfo span {
        position: relative;
        bottom: -4px;
        font-size: inherit;
        color: inherit;
        background: #fff;
        padding: 0;
        font-weight: inherit;
    }
    .input-contact-info {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    .check-posting {
        padding-top: 15px;
        width: 100%;
        display: block;
    }
    .check-posting p {
        font-size: 13px;
        color: #666;
        padding-bottom: 10px;
    }
    .color-posting {
        font-weight: bold;
        color: #ff6e21;
        cursor: inherit;
    }
    .input-posting {
        width: 100%;
        padding:  0 20px;
    }
    .input-posting .posting {
        border: none;
        box-shadow: none;
    }
    .posting {
        width: 100%;
    }
    .posting .not-news {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    .link-set-view {
        text-align: right;
        width: 100%;
        display: inline-block;
    }
    .link-set-view ul li a {
        font-size: 14px;
    }
    .li-posting {
        width: 100%;
        border: none
    }
    .li-posting label {
        color: #1d86ca;
        font-weight: bold;
        font-size: 13px;
        padding-bottom: 5px;
    }
    .li-posting label  a {
        font-size: 11px;
        color: #666;
    }
    .collapsible-pt {
        padding: 0;
        padding-left: 25px;
    }
    .collapsible-pt p {
        width: 100%;
        display: inline-flex;
        margin: 0;
    }
    .collapsible-pt p i {
        color: #6bbb64;
        margin-right: 5px;
        font-size: 15px;
    }
    .btn-sup {
        width: 100%;
        display: block;
        text-align: center;
        padding-bottom: 25px;
    }
    .btn-sup button {
        background-color: rgb(255, 109, 31);
        border: medium none;
        border-radius: 3px;
        color: rgb(255, 255, 255);
        font-family: arial;
        font-size: 14px;
        font-weight: bold;
        height: 47px;
        text-transform: uppercase;
        width: 140px;
    }
    .link-home-dr i.material-icons {
        height: 30px;
        line-height: 30px;
    }
    .dropdown-nav-li {
        position: absolute;
        left: 2px;
        top: 31px;
        z-index: 10;
        display: none;
        float: left;
        background: #fff;
        border-radius: 0;
        border: 1px solid #ebebeb;
        width: 155px;
    }
    .padd-none {
        margin-right: -15px;
    }
    .category-nav {
        position:relative;
    }
    .category-nav a {
        -moz-transition:color 0.3s ease-out;
        -webkit-transition:color 0.3s ease-out;
        -o-transition:color 0.3s ease-out;
        transition:color 0.3s ease-out;
    }
    .category-nav ul {
        color: #121212;
    }
    .category-nav ul li {
        position: relative;
    }
    .category-nav:hover {
        background: red;
    }
    .category-nav:hover  .sublist {
        display: block;
    }
    .category-nav:hover  .sublist .li-drop-nav:hover  .subsublist {
        display: block
    }
    .subsublist {
        display: none;
    }
    .li-drop-nav {
        background-image: #9575cd;
    }
    .sublist {
        display: none;
        position: absolute;
        float:left;
        margin:0;
        padding:0;
        left:0px;
        top:30px;
        width:137px;
        color: #121212;
        background: #f9f9f980;
    }
    .sublist:after, .sublist:before {
        left: 50px;
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        margin: -6px 0 0 15px;
    }
    .sublist li  {
        width: 100%;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
    }
    .sublist li.li-drop-nav {
        background: #ef5350  ;
    }
    .sublist li.li-drop-nav:hover {
        background: #9575cd ;
        border-left: 3px #673ab7  solid;
    }
    .sublist li:hover span {
        font-weight: 500;
    }
    ul li ul.sublist li ul.subsublist {
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        position:absolute;
        left:131px;
        top:0px;
        margin-left: 5px;
        width:190px;    
        background: #eceff1 ;

    }
    ul li ul.sublist li ul.subsublist li{
        border:none;
        clear:both;
        margin:0;
        padding:0;
        width:100%;
        opacity:1;
        text-align: left

    }
    ul li ul.sublist li ul.subsublist li a {
        color: #121212;
        font-size: 12px;
    }
    header nav#topmenu ul li ul.sublist:hover ul.subsublist {
        opacity: 1;
        left:91px;
        visibility:visible;
    }
    ////////////////*KT Form Dang tin*/ 

    .content-news-view {
        background: #fff;
        display: inline-block;
        box-shadow: 0 0 0 5px #888888;
    }
    .show-news {
        background: #fff;
        display: inline-block;
        padding: 25px;
        box-shadow: 0 0  5px #888888;
        width: 100%;
    }
    /*KT show tin*/ 
    /*Show List form DK*/
    .menu-left-list-form {
        width: 30%;
        float: left;    
        display: inline-block;
    }
    .ul-heading {
        width: 100%;
        float: left;
        margin-left: 3px;
        margin-top: 0px;
        position: relative;
    }
    .ul-heading li {
        display: inline-block;
        width: 100%;
        border-radius: 3px 3px 0 0;
        height: 48px;
        margin-bottom: 0;
        margin-top: 2px;
        cursor: pointer;
        border: 1px solid #d7d7d7;
        line-height: 48px;
        background:  #f2f2f2;
    }
    .ul-heading li a {
        line-height: 48px;
        height: 48px;
        width: 100%;
        font-size: 15px;
        color: #607d8b;
        display: block;
        padding-left: 15px;
        transition: all 0.3s;
    }
    .ul-heading li a  {
        color: #333;
    }
    .ul-heading li a .material-icons.right {
        margin-left: 0px;
        color: #d0d0d0;
    }
    .ul-heading li.hidien-li a {
        font-size: 18px;
        color: #fff;
    }
    .ul-heading li.hidien-li a i {
        padding: 12px 0;
    }
    .ul-heading li a i {
        padding: 12px 0;
    }
    .ul-heading li:hover  {
        background: #fff;
    } 
    .ul-heading li:hover a {
        font-weight: bold;
    }
    .ul-heading li:hover a i.right {
        font-weight: bold;
        color: #607d8b;
    }
    .ul-heading li.hidien-li:hover a {
        font-weight: normal;
    }
    .ul-heading li.hidien-li {
        background: #c2c2c2;
    }
    .show-sub-menu {
        float: left;
        display: inline-block;
        width: 70%;
        padding-left: 25px;
    }
    .hidien-show {
        z-index: 1;
        float: left;
        margin-top: 80px;
        margin-left: 95px;
        margin-bottom: 45px;
        background: url(../img/site/arrow-up.png) no-repeat 0 0;
        padding-left: 35px;
        padding-top: 60px;
    }
    .show_tt_01 {
        font-size: 17px;
        font-weight: bold;
        color: #333333;
        width: 100%;
    }
    .show_tt_02 {
        font-size: 14px;
        color: #333333;
        float: left;
        margin-top: 12px;
        width: 100%;
    }
    .show_tt_02_1 {
        font-size: 16px;
        font-weight: bold;
        color: #2570a8;
        /*float: left;*/
        margin-top: 10px;
    }
    .ch_tt_02_2 {
        font-size: 16px;
        font-weight: bold;
        color: #ffb307;
        margin-top: 10px;
    }
    .show_tt_03_03 {
        font-size: 13px;
        color: #333333;
        width: 100%;
        float: left;
        line-height: 22px;
        margin-top: 50px;
        font-style: italic;
    }
    .show_tt_03_02 {
        font-size: 13px;
        color: #333333;
        margin-top: 20px;
        width: 100%;
        float: left;
        line-height: 20px;
        background: url(../img/site/gach_doc.png) no-repeat left 25px top 3px;
        padding-left: 40px;
        box-sizing: border-box;
    }
    .show_tt_03_01 {
        margin-top: 50px;
        float: right;
        font-size: 13px;
        line-height: 25px;
        font-family: arial, helvetica !important;
    }
    .show_tt_03_01:hover {
        color: #ef6c00 ;
    }
    /*KY*/
    .list-submenu-ul {
        width: 100%;
        margin-bottom: 35px;
        margin-top: 15px;
    }
    .title-nenu-form {
        width: 100%;
        height: 30xp;
        line-height: 30px;
        padding-left: 15px;
    } 
    .title-nenu-form .material-icons {
        line-height: 30px;
        transform: rotate(-180deg);
    }
    .ul-menu-form {
        width: 100%;
        display: inline-block;
        margin: 0;
    }
    .ul-menu-form li {
        padding-top: 10px;
        padding-left: 35px;
    }
    .ul-menu-form li a {
        display: block;
        font-size: 15px;
        color: #2570a8;
        white-space: nowrap;
        padding-left: 25px; 
        width: 100%;
        transform: all 0.5s ;
    }
    .ul-menu-form li:hover a {
        font-weight: bold;
        font-size: 18px;
        color: #e6122a;
    }
    /*/////KT show list form dk*/ 
    .user-name {
        float: left;
        margin-left: 0;
        padding-right: 0;
        font-size: 11px;
        position: relative;
    }
    .user-name:hover #getsUser {
        display: block;
    }
    .user-name-id {
        font-size: 11px;
        color: #ffe18d;
        font-family: arial,helvetica,sans-serif;
        font-weight: 700;
    }
    .user-name-email {
        float: left;
        max-width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .show-user-name {
        padding: 0;
        margin: 0;
        display: none;
        background: #FFF;
        position: absolute;
        top: 31px;
        border: none!important;
        width: 470px;
        border-radius: 4px;
        box-shadow: 0 1px 9px rgba(0,0,0,.3);
        right: -100px!important;    
    }
    .show-user-name:before {
        left: 300px;
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        margin: -7px 0 0 15px;

    }
    .show-user-name-left {
        float: left;
        width: 265px;
        padding: 30px 12px 30px 20px;
        font-family: arial,helvetica,sans-serif;
        font-size: 12px;
        color: #666;
    }
    .show-user-name-left .up_item_user {
        margin: 0;
        margin-bottom: 0;
        font-size: 12px
    }
    .show-user-name-left .up_item_user .black-text {
        font-size: 13px;
        font-weight: bold;
        color: #333;
    }
    .show-user-name-left .box_gold {
        margin-bottom: 0px;
        position: relative;
        margin-top: 10px;
    }
    .show-user-name-left .box_gold p {
        margin: 0;
    }
    .show-user-name-left .box_gold .gold_user {
        color: #2570a8;
        font-size: 18px;
        margin-top: 10px;
        font-weight: 700;
    }
    .show-user-name-left .box_gold .buy_gold {
        color: #2570a9!important;
        float: right;
        margin-top: -40px!important;
        border-radius: 3px;
        border: 1px solid #2570a9;
        padding: 10px;
        font-size: 12px!important;
    }
    .show-user-name-left .box_gold .gold_bonus {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 700;
        color: #ff7901;
    }
    .link-buy-gold {
        color: #2570a9!important;
        font-size: 9px!important;
        font-weight: 600;
        font-family: arial,helvetica,sans-serif;
        padding: 0;
    }
    .link-buy-gold:hover {
        background: none;
    }
    .show-user-name-right {
        float: left;
        padding: 20px 10px 20px 30px;
        border-left: 1px solid #ebebeb;
        width: 204px;
    }
    .show-user-name-right ul li {
        border: none!important;
        text-align: left;
        min-width: auto!important;
        font-weight: 400!important;
        color: #2570a8;
        line-height: 35px;
        padding: 0 5px 0 0;
    }
    .show-user-name-right ul li a {
        text-shadow: 0px 0px 0px #fff;
        display: block;
        color: #2570a8;
        font-size: 13px;
        text-align: left;
        text-decoration: none;
    }
    .show-user-name-right ul li:hover a {
        color: #ff9517;
        text-decoration: underline;
        background: none;
    }
    /*KT*/
    /*TT USER*/
    .menu-left-user {
        width: 25%;
        float: left;
        background: #f2f2f2;
        border: solid 1px #d7d7d7;
        margin-left: -15px;
    }
    .list-user {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000;
        line-height: 135%;
        text-align: left;
        height: 100%;
        padding: 10px 0;
    }
    .information {
        width: 100%;
        height: 20px;
        line-height: 20px;
        border-radius: 3px;
        color: #fff;
        font-size: 11px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        margin: 0;
        padding-left: 10px;
        font-weight: normal;
        color: #0063af;
    }
    .information.active{
        background: #595f69;
        font-weight: normal;
        width: 100%;
        height: 35px;
        line-height: 35px;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        margin: 0;
        padding-left: 10px;
    }
    .information.active:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: url(../img/site/r_arrow.png) no-repeat right center;
        height: 35px;
        width: 12px;
    }
    .information.active a {
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        line-height: 35px;
    }
    .information a {
        font-weight: normal;
        text-decoration: none;
        line-height: 20px;
        color: #0063af;
    }
    .information:hover a  { color: #ff8a66;}
    .information a i {
        line-height: 20px;
        margin-right: 10px;
    }
    .information.active a i {
        line-height: 35px;
        margin-right: 10px;
    }
    .tt-user {
        width: 100%;
    }
    .tt-user .padding-user {
        width: 100%;
        height: 29px;
        padding-left: 10px;
        margin: 15px auto 0;
        line-height: 29px;
        color: #666;
        font-size: 12px;
        font-weight: bold;
        border-bottom: 1px solid #c7c7c7;
    }
    .tt-user .ul-listuser {
        padding-top: 5px;
        margin: 0;
    }
    .tt-user .ul-listuser li {
        display: block;
        width: 178px;
        height: 20px;
        line-height: 20px;
        margin: 0;
        padding-left: 20px;
    }
    .tt-user .ul-listuser li.active {
        background: #595f69;
        width: 100%;
        height: 35px;
        line-height: 35px;
        margin-left: -1px;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        font-weight: bold;
    }
    .tt-user .ul-listuser li.active a {
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        line-height: 35px;
        font-size: 12px;
    }
    .tt-user .ul-listuser li.active:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: url(../img/site/r_arrow.png) no-repeat right center;
        height: 35px;
        width: 12px;
    } 
    .tt-user .ul-listuser li.active:hover a {
        color: #fff;
    }
    .tt-user .ul-listuser li a {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 11px;
        display: block;
        height: 20px;
        padding-left: 15px;
        color: #0063af;
        line-height: 20px;
    }
    .tt-user .ul-listuser li:hover a {
        color: #ff8a66;
    }
    .content-user {
        width: 75%;
        float: left;
        background: #fff;
    }
    .general-user {
        width: 100%;
        background: #fff;
        display: inline-block;
    }
    .general-infor {
        padding: 25px;
        display: block;
    }
    .general-infor .title-boxus {
        font-size: 14px;
        font-weight: bold;
        color: #555;
        margin: 0;
    }
    .box-user {
        width: 100%;
    }
    .box-user-left {
        float: left;
        width: 50%;
        color: #444;
        line-height: 22px;
    }
    .ul-box-user {
        width: 100%;
        padding: 15px 22px;
        margin: 0;
    }
    .ul-box-user li {
        width: 100%;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000;
        text-align: left;
    }
    .ul-box-user li .left-us {
        display: block;
        width: 35%;
        float: left;
    }
    .ul-box-user li .left-nb {
        display: block;
        width: 65%;
        float: left;
    }
    .list-service {
        width: 100%;
        display: inline-block;
        padding-left: 10px;
    }
    .service-item {
        float: left;
        width: 48%;
        margin: 10px 5px; 
        float: left;
        background: #fafafa;
        border: solid 1px #d2d3d6;
        border-top: none;
        border-radius: 0 0 5px 5px  
    }
    .service-item .title-service {
        height: 33px;
        line-height: 33px;
        font-size: 15px;
        color: #fff;
        padding: 0 15px;
        border-radius: 5px 5px 0 0;
        margin: 0;
    }
    text-service {
        background: #fafafa;
        border: solid 1px #d2d3d6;
        border-top: none;
        border-radius: 0 0 5px 5px;
        width: 100%;
    }
    .table-service {
        height: 100px;
        padding: 11px;
        color: #666;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 11px;
        text-align: left;
    }
    .no-sv {
        width: 100%;
        padding-left: 25px;
    }
    .no-sv a.disabled {
        float: left;
        margin-right: 15px;
    }   
    .text-nosv {
        /*padding-left: 15px;*/
    }
    .text-nosv p {
        font-size: 12px;
        margin: 0;
    }
    .support {
        width: 100%;
        padding: 15px 65px;
        padding-right: 25px;

    }
    .support .phone-support {
        width: 100%;
        padding: 20px 25px;
        background: #fffdfb;
        color: #555;
        border: solid 1px #ffe2b9;
        font-size: 12px;
        display: inline-block;
    }
    .icon-phone {
        float: left;
        display: inline-block;
        padding-right: 15px;
    }
    .icon-phone i {
        font-size: 45px;
        line-height: 75px;
    }
    .text-phone {
        float: left;
    }
    .text-phone p {
        margin-bottom: 0;
    }
    /*KT*/
    /*Doi thong tin*/
    .title-userfr {
        font-size: 20px;
        font-weight: normal;
        color: #555;
        margin: 0;
        font-weight: 500;
    }
    .rename-user {
        width: 100%;
        margin-bottom: 15px;
    }
    .title-rename-us {
        padding: 6px;
        padding-left: 0;
        margin-top: 25px;
        width: 100%;
        height: 30px;
        border-top: 1px #ccc solid;
        display: inline-block;
    }
    .title-rename-us p {
        position: relative;
    }
    .title-rename-us:first-child {
        border-top: none;
    }
    .title-rename-us a {
        font-weight: bold;
        font-size: 12px;
        color: #444;
        float: left;
        padding-right: 25px;
        width: 30%;
    }
    .title-rename-us .click-edit {
        position: absolute;
        right: 0;
        top: 0;
        width: 75px;
        color: #2570a8;
        font-weight: normal;
        text-align: right;
        padding: 0;
        font-size: 11px;
    }
    .title-rename-us .click-edit i {
        font-size: 18px;
        margin: 0;
        padding: 0;

    }
    .title-rename-us span {
        font-size: 12px;
        color: #999999;
        float: left;
        width: 60%;
    }
    .form-user {
        margin-top: 45px;
        width: 100%;
        display: block;
    }
    .list-user-fr {
        width: 100%;
        display: inline-block;
        font-size: 11px;
        color: #00344F;
        padding-top: 10px;
    }
    .list-user-fr .left-userfr {
        width: 20%;
        float: left;
        font-size: 11px;
    }
    .list-user-fr .left-seri {
        width: 25%;
        float: left;
        font-size: 11px;
        padding-right: 15px;
        text-align: right;
        display: inline-block;
    }
    .list-user-fr .right-userfr {
        width: 60%;
        float: left;
    }
    .list-user-fr .right-textarea {
        width: 75%;
        float: right;
    }
    .list-user-fr .right-img {
        width: 65%;
        float: right;
    }
    .list-user-fr .right-textarea p {
        margin: 0;
    }
    .list-user-fr .right-userfr label {
        padding-top: 20px;
    }
    .list-user-fr .right-userfr a {
        color: #000 ;    
    }
    .list-user-fr .input-field {
        margin: 0;
    }
    .list-user-fr .input-field  input {
        margin: 0;
    }
    .list-user-fr .input-field  input {
        height: 15px;
        font-size: 11px;
    }
    .list-user-fr .right-userfr:hover a {
        text-decoration: underline;
    }
    .btn-form {
        text-align: left;
        width: 60%;
        margin: 0 auto;
    }
    .btn-form .seve-fr {
        font-size: 12px;
        width: 80px;
        height: 25px;
        background-color: #fbc02d  ;
        border-radius: 2px;
        border: none;
        margin-right: 8px;
        color: white;
    }
    .btn-form .reset-fr {
        font-size: 12px;
        width: 80px;
        height: 25px;
        background-color: #e1e1e1;
        border-radius: 2px;
        border: none;
        color: #000000;
    }
    .logo-user {
        width: 100%;
        height: 100px;
        background: #fff;
        text-align: center;
    }
    .logo-user.chip .close {
        position: absolute;
    }
    .logo-user img {
        width: 100%;
        height: 100px;
    }
    .up-img-logo {
        width: 100%;
        height: 100px;
        display: inline-block;
    }
    .list-user-fr .right-img label {
        text-align: center;
        display: inline-block;
        border: 1px #ccc dashed;
        padding: 5px 10px;
    }
    .seve-img {
        width: 50%;
    }
    /*KT*/
    /*QL-Dtin/*/
    .manage-posting {
        padding: 25px 20px;
        width: 100%;
    }
    .manage-posting .heading-posting {
        font-size: 20px;
        font-weight: 400;
        color: #555;
        margin: 0;
    }
    .manage-box {
        width: 100%;
    }
    .manage-box-sub {
        width: 100%;
        margin-top: 15px;
        display: inline-block;
    }
    .manage-box-sub .btn-sub:hover, .manage-box-sub .btn-sub.active  {
        background: #566e93;
        padding: 0 20px;
        color: #fff;
    }
    .manage-box-sub .btn-sub {
        display: block;
        float: left;
        height: 27px;
        line-height: 27px;
        padding: 0 20px;
        margin-right: 5px;
        font-weight: bold;
        color: #566e93;
        font-size: 11px;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
    }
    .posting-list {
        width: 100%;
    }
    .set-list-posting {
        width: 100%;
    }
    .set-list-posting .check-all {
        font-family: Tahoma, Arial, Helvetica, sans-serif;

        color: #2570a8;
        text-decoration: none;
    }
    .set-list-posting .check-all [type="checkbox"]+label {
        color: #2570a8;
        padding-left: 25px;
        font-size: 11px;
    }
    .set-list-posting a {
        color: #2570a8;
        font-size: 11px;
    }
    .cler-manage {
        margin-left: 15px;
    }
    .cler-manage:hover {
        text-decoration: underline;
    }
    .posting {
        width: 100%;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000;
        text-align: left;
        position: relative;
        margin-top: 15px;
    }
    .check {
        position: absolute;
        top: 0;
        left: 0;
    }
    .img-posting {
        width: 160px;
        height: auto;
        padding-left: 30px;
        padding-top: 10px;
        float: left;
        position: relative;
    }
    .img-posting img {
        width: 100%;
    }
    .text-posting {
        float: left;
        padding: 5px;
        padding-bottom: 15px;
        margin-left: 15px;
    }
    .title-posting {
        margin: 0;
        width: 100%;
        padding-bottom: 25px;
    }
    .title-posting a {
        color: #3B5A9A;
        font-weight: bold;
        font-size: 13px;
        float: left;
    }
    .inbox-posting {
        width: 100%;
        display: inline-block;
    }
    .od-posting {
        width: 100%;
    }
    .od-posting a {
        font-size: 11px;
        color: #3B5A9A;
        text-decoration: none;
    }
    .od-posting a:hover {
        color: #ff8c03;
        text-decoration: underline;
    }
    .edit-posting {
        width: 100%;
        margin-top: 15px;
    }
    .edit-posting a { 
        color: #3B5A9A;
        padding: 10px;
    }
    .edit-posting a:hover { 
        color: #ff8c03;
        text-decoration: underline;
    }
    .edit-posting a.black-text:hover  { 
        color: #ff8c03;
        text-decoration: underline;
    }
    .return-next {
        float: right;
        margin-top: 10px;
    }
    .return-next a {
        width: 150px;

        line-height: 21px;
        font-size: 13px;
        font-weight: bold;
        color: #FFF;
        height: 21px;
        padding-right: 10px;
        border-radius: 3px;
    }
    .return-next a.return {
        background: #7f7f7f;
        box-shadow: inset  0 0 1px 1px #fff;
        border: 1px #ccc solid;
        padding: 4px 7px;
    }
    .return-next a.next-r {
        padding: 4px 12px;
        background: #5c74a3;
        border: 1px #ccc solid;
        box-shadow: inset  0 0 1px 1px #fff;
    }
    .show {
        display:  block;
    }
    /*KT*/ 
    form.set-pass {
        width: 75%;
        margin:  0 auto;
        margin-bottom: 25px;
    }
    .validation-advice {
        margin: 2px 0;
        padding-top: 5px;
        color: #FF3300;
    }
    form.set-pass .left-userfr {
        font-size: 14px;
        font-weight: 500;
        width: 35%;
        padding-right: 15px;
    }
    .right-userpr { 
        float: left;
        width: 40%;
        margin-left: 15px;
    }
    #cropContainerMinimal {
        float: left;
        border:1px solid #000;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        position:relative; /* or fixed or absolute */
    }
    .large-7  .xzoom-preview {
        position: absolute;
        top: 15px;
    }
    /*---------------- CUSTOM CSS---------------*/
    label#email-error{
        display: block;
        position: relative!important;
        transform: none !important;
        font-size: 15px !important;
    }
    
    lable#phone-error{
        display: block;
        position: relative!important;
        transform: none !important;
        font-size: 15px !important;
        padding-top: 15px;
    }

    label.error{
        color: red;
    }
    #register-form input,#login-form input{
        display: block;
        margin-bottom: 0px !important; 

    }
    .loginfb{
        text-align: center;
    }
    .icon-show-1{
        display: none;
    }
    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
        display: block;
        max-width: 100%;
        position: relative;
    }
    .submit-login-rg{
        text-align: center;
        margin-bottom: 31px;
    }
    .valid_email{
        color: lime !important;
    }