body {
	/* background-image: url('../img/bgr_index.jpg'); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.panel-body {
	border: 2px solid #EBEBEB;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: none;
}

.panel-body-form-register {
	background: white;
	border: 2px solid #EBEBEB;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.panel-body-register {
	border: 2px solid #EBEBEB;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: none;
}

.panel-body {
	background: white;
}


h2, h3 {
	color: black;
	padding: 8px 49px 0px 50px;
	margin-bottom: 0;
}

.title-login {
	color: #8a8484;
	padding: 8px 49px 0px 50px;
	margin-bottom: 0;
}

.login-btn {
	color: white;
	font-size: 18px;
}

.login-btn:hover {
	background: #5F9C0F !important;
	border:  1px solid #C2B9B9;
	color: #FFFFFF;
}

.forgot {
	padding: 4px 0px 0px 0px;
}

.forgot a {
	color: #12b1eb;
	text-decoration: none;
}

.forgot-pass a:hover {
	color: #12b1eb;
	text-decoration: none;
}

.panel-body-register {
	background: #12b1eb;
	position: absolute;
	margin-left: -30px;
	width: 433px;
	padding-top: 10px;
}

.panel-body-register {
	color: white;
}

.panel-body-register h3 {
	color: white;
}

.text-register {
	padding-top: 17px;
}

.register-btn button {
	background: #BCB8B8;
	color: white;
	padding-top: 5px;
}

.f_res {
	padding-bottom: 19px;
}

.register-btn {
	padding-top: 5px;
}

.tabs .tab a.active {
	background-color: transparent;
	color: #0fadf6;
}

.tabs .tab a {
	color: rgb(35, 180, 246);
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 24px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: color .28s ease;
}

.tabs .indicator {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: #0fadf6;
	will-change: left, right;
}

.form-inforcus .col-form-label {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
	padding-left: 39px;
}

.form-inforcus .input:not([type]), .form-inforcus input[type=text], .form-inforcus input[type=password], .form-inforcus input[type=email], .form-inforcus input[type=url], .form-inforcus input[type=time], .form-inforcus input[type=date], .form-inforcus input[type=datetime], .form-inforcus input[type=datetime-local], .form-inforcus input[type=tel], .form-inforcus input[type=number], .form-inforcus input[type=search], .form-inforcus textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 0;
	box-sizing: content-box;
	transition: all 0.3s;
	margin-top: -5px;
}

.form-inforcus .col-form-label {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
	padding-left: 39px;
	color: black;
}

.inforcus-avatar .avatar {
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.form-inforcus .align {
	margin-top: -11px;
	margin-bottom: 6px;
}

.form-inforcus {
	padding-top: 30px;
}

#previewing {
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#selectImage {
	padding-top: 15px;
}

.form-inforcus .text-center {
	padding-top: 10px;
}
.valid_email{
	color: lime !important;
}

.form-inforcus i {
	padding-left: 0px;
	padding-top: 12px;
	margin-left: -29px;
}

.form-inforcus .label-last {
	padding-top: -15px !important;
	margin-top: 32px;
}

/*  */

#app {
	display: none;
}

@media (max-width: 767.98px) {

	body {
		overflow-x: hidden;
	}
	.offcanvas-collapse {
		position: fixed;
		top: 56px;
		bottom: 0;
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
		overflow-y: auto;
		background-color: var(--gray-dark);
		transition: -webkit-transform .3s ease-in-out;
		transition: transform .3s ease-in-out;
		transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	.offcanvas-collapse.open {
		-webkit-transform: translateX(-1rem);
		transform: translateX(-1rem);  
	}
}

.sidebar {
	border-right: 1px solid #F1E5E5;
}

.header-profile { 
	border: 5px solid transparent;
	padding: 1px;
	-webkit-border-image: url('../img/2.jpg') 30 round; /* Safari 3.1-5 */
	-o-border-image: url('../img/2.jpg') 30 round; /* Opera 11-12.1 */
	border-image: url('../img/2.jpg') 30 round;
	border-right: none;
	border-left: none;
}

.profile {
	background-image: url('../img/2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bd {
	padding-bottom: 5px;
}

.border1 {
	border: 1px solid #2CBBF7;
}

.border2 {
	border: 1px solid #2CBBF7;
}

.content {
	border: 5px solid transparent;
	padding: 1px;
	-webkit-border-image: url('../img/2.jpg') 30 round; /* Safari 3.1-5 */
	-o-border-image: url('../img/2.jpg') 30 round; /* Opera 11-12.1 */
	border-image: url('../img/2.jpg') 30 round;
	border-top: none;
	border-bottom: none;
}

.sidebar ul li a {
	font-size: 18px;
	color: black;
}

h5 {
	font-weight: bold;
}
.sidebar ul li a:hover {
	font-size: 20px;
	color: #0EBBF4;
	text-decoration: none;
	border-bottom: 1px solid #0DBEF8;
}

.sidebar ul li  .hr {
	border: none;
	border-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: unset;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: none;
	letter-spacing: -1.5px;
	border-bottom-right-radius: unset;
	/* border-top-right-radius: unset; */
}

.sidebar ul li  .hr {
	transition: .2s ease-out;
	cursor: pointer;
	background-color: white !important;
	text-align: center;
}

.sidebar ul li .hro {
	border-top-right-radius: unset;
	/* border-bottom-left-radius:  unset; */
	border-top-left-radius: unset;
	border-bottom-right-radius: 20px;
	background: #50BCFA !important;
}


.sidebar .md {
	display: inherit !important;
}

.sidebar .modal-header {
	/* margin-top: 84px !important; */
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #e9ecef;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
}

.sidebar img {
	border: 0;
	width: 150px;
	margin-left: 146px;
	margin-top: -70px;
	margin-bottom: -29px;
}

.btn-change-pass {
	border: none !important;
	border-radius:0px !important;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: none;
	letter-spacing: -1.5px;
}

.history-post .img-thumbnail-G {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
	height: auto;
	margin-left: 0px !important;
	margin-top: 8px;
	margin-bottom: -2px;
}

.img-post {
	margin-right: -50px !important;
	margin-left: -15px;
	width: 199px;
}

.img-post a .icon-hot {
	background: url('../img/site/icon_hot.png') no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.img-thumbnail {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
	height: auto;
	/* padding-bottom: 11px !important; */
}

.img-post img {
	width: 244px;
	height: 180px;
}

.history-post .form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: white;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.history-post .form-inforcus .col-form-label {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
	padding-left: 39px;
}

.history-post .history-post .input:not([type]), .history-post input[type=text], .history-post input[type=password], .history-post input[type=email], .history-post input[type=url], .history-post input[type=time], .history-post input[type=date], .history-post input[type=datetime], .history-post input[type=datetime-local], .history-post input[type=tel], .history-post input[type=number], .history-post input[type=search], .history-post textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 -30px 0;
	padding: 0;
	box-sizing: content-box;
	transition: all 0.3s;
	margin-top: -5px;
}

.history-post .history-post .col-form-label {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
	padding-left: 39px;
	color: black;
}

.history-post .action-item {
	position: absolute;
}

.history-post .icon-item {
	margin-left: 749px;
}

.history-post .edit-item {
	padding-bottom: 5px;
	padding-top: 5px;
}

.time, .id-cus-post {
	position: absolute;
	padding-left: 333px;
	margin-top: -4px;
}


/* post */

/*==================Posts page=====================*/
.posts {
	margin-top: 135px;
	background-color: #ffffff;
	margin-bottom: 20px;
}
.post1 {
	margin-bottom: 50px;
	padding-top: 20px;
}
.post_form label {
	font-size: 14px;
}
.text2{
	border-bottom: 1px #795548 solid;
}
.text1 {
	margin-bottom: -6px;
}
.text1 span {
	bottom: -5px; 
	font-weight: bold;
}
.cate_choose {
	margin-left: 20px;
	background-color: rgb(216, 237, 253);
	font-size: 13px;
	padding: 7px 15px;
	border-radius: 3px;
	margin-right: 20px;
}
.post_title {
	margin-bottom: 30px;
}
.post2 span {
	font-size: 14px;
}
.concurrent {
	margin-top: 10px;
}
input[type=checkbox] {
	height: 20px;
	width: 20px;
	margin-right: 10px;
	background-color: #ffffff !important;
}
label.checkbox-inline {
	margin-right: 62px;
	font-size: 14px;
}
.checkbox p {
	font-size: 14px;
	font-weight: bold;
}
.btn-center {
	margin: 20px 0px 30px 0px;
}
.text-center button {
	background-color: rgb(255, 109, 31);
	border: medium none;
	border-radius: 3px;
	color: rgb(255, 255, 255);
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	height: 47px;
	text-transform: uppercase;
	width: 140px;
}
/*===================List Post===================*/
.list-post {
	background-color: #ffffff;
	margin-top: 19px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.title_list .uppcase {
	text-transform: uppercase;
	font-weight: bold;
}
.info-post span, .title_list span {
	font-size: 14px;
}
.title_post a {
	text-decoration: none;
	font-weight: bold;
	color: #2570A9;
}
.title_post a:hover{
	color: #444;
}
/*================== DETAIL POST ====================*/
.detail-post {
	background-color: #ffffff;
	margin-top: 130px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 40px;
}
.title-detail p {
	text-transform: uppercase;
	font-weight: bold;
	color: #2570a8;
}
.description b {
	color: #424040;
}
.detail-contact {
	margin-bottom: 20px;
}
.box-contact {
	margin-left: 170px;
	border: 1px solid #ebebeb;
	padding: 0px 20px 20px 20px;
}
.detail-contact i {
	color: #9999;
	padding-right: 15px;
	height: 30px;
}
.box-contact p {
	border-bottom: 1px solid #bdbdbd;
	color: #2570a8;
	font-weight: bold;
	font-size: 20px;
	padding-top: 20px;
}
.box-contact a {
	text-decoration: none;
	color: #2570a8;
}

/*================== POST INFOR ====================*/

.bgr-post-infor label {
	font-size: 12px;
	color: black;
}
.header-post-infor {
	background: white;
}

.more-detail {
	color: red !important;
}

.border-post-infor {
	border-bottom: 1px #795548 solid;
	padding-top: 28px;
}

.title-post-infor p {
	margin-top: 0;
	margin-bottom: 1rem;
	padding-top: 12px;
	font-weight: bold;
	font-size: 14px;
}

.br-choose {
	background: #9EC3CE;
	border: 1px solid #9EC3CE;
	border-radius: 5px ;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* img */
.fieldInforNewRight {
	width: 225px;
	padding: 0px;
}
.field_item_new_bds {
	overflow: inherit;
}

.field_item_new {
	position: relative;
}

.container_up_fake {
	width: 100% !important;
	margin-top: 0px;
	margin-bottom: 10px !important;
}

.test1 {
	font-weight: bold;
	font-size: 14px;
}
.area_up_fake {
	margin-top: 10px !important;
}

.tooltip_add_text {
	left: 50px;
	top: -20px;
	z-index: 100;
}

.tooltip_add_text img {
	left: 59px;
}

.tooltip_add_text img {
	position: absolute;
	bottom: -6px;
	left: 34px;
}

.photoPreviews {
	margin-bottom: 20px;
}

.fake_panel {
	padding-left: 12px !important;
}

.fake_panel {
	color: #484848;
	float: left;
	font-size: 19px;
	line-height: 35px;
	padding-left: 60px !important;
}

.field_name {
	position: absolute;
	top: 0px;
	left: 12px;
	font-weight: normal;
	width: auto;
}

.field_name {
	position: relative !important;
	margin: 0px;
	font-weight: 700 !important;
	width: 75% !important;
	text-align: center;
	line-height: normal;
	padding: 0px;
}

.field_name {
	font-size: 13px;
	font-weight: bold;
	float: left;
	width: 132px;
	margin-top: 8px;
	padding-top: 2px;
}
.fake_panel .choose_img_fake {
	margin: 18px 0px 28px 0px;
}

.fake_panel .choose_img_fake {
	background: url('../img/choose_img.png') no-repeat scroll 10px 4px #fff;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	color: #666666;
	cursor: pointer;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-right: 15px;
	padding: 2px 12px 3px 56px;
	white-space: nowrap;
}

.event_drag_tpl1 {
	display: none !important;
}

.fake_panel .txt_or {
	color: #666;
	margin-top: 5px;
	float: left;
	padding-left: 70px;
}

.fake_panel .drag_img_fake {
	background: url('../img/drag_img.png') no-repeat scroll 0 1px rgba(0, 0, 0, 0);
	color: #666666;
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding: 0 5px 5px 40px;
	white-space: nowrap;
}

.hide_file {
	height: 0px;
	width: 0px;
	overflow: hidden;
}

.fake_panel input[type="file" i] {
	align-items: baseline;
	color: inherit;
	text-align: start !important;
}

.p_first {
	width: auto;
	line-height: 16px;
	font-style: italic;
	margin-top: 0px;
}

.container_up_fake .p_first {
	font-size: 11px;
	color: #666;
	margin-top: 15px;
	float: left;
	width: 278px;
	text-align: center;
}
.c {
	clear: both;
}

.wrap_post_new {
	float: left;
	width: 1000px;
	font-size: 12px;
	color: #333;
	background-color: #fff;
	position: relative;
}

.fieldInforNewRight input[type=radio],.fieldInforNewRight input[type=checkbox] {
	cursor: pointer;
}
/* end */


/* HEADER */
nav { 
	color:#fff;
	background-color:#2570a9 !important;
	width:100%;
	height:56px; 
	line-height:56px;
}

nav ul a:hover {
	transition: background-color .3s;
	font-size: 1rem;
	color: #fff;
	display: block;
	padding: 0 12px;
	cursor: pointer;
}
/* HEADER */

/* LOGO SIDEBAR */
.logo-cusinfo {
	margin-left: 11px;
}
/* LOGO SIDEBAR */

/* EDIT POST */
.title-edit-p {
	font-size: 20px;
	font-weight: bold;
}

.border-title-p {
	margin-top: 20px;
	border-bottom: 1px solid #776464;
}

.post-form .update-btn button {
	background-color: rgb(255, 109, 31);
	border: medium none;
	border-radius: 3px;
	color: rgb(255, 255, 255);
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	/* height: 47px; */
	text-transform: uppercase;
	/* width: 140px; */
}

img.thumb {
	height: 170px;
	width: 170px;
}

.text-l {
	font-size: 15px !important; 
	color: #7F8183 !important;
}

.one {
	padding-top: 9px !important;
}

.img-ed img {
	padding-right: -5px;
	padding-left: 38px;
	padding-bottom: 10px;
	width: 206px;
	height: 170px;
}

.post-user .border-post{
	border-bottom: 1px solid #B5ABAB !important;
	padding-bottom: 18px;
}

.checkbox .format-text {
	color: #3a3939!important
}

.checkbox .format-text3, .format-text2 {
	font-size: 14px !important;
	color: #3a3939!important
}

.format-text4 {
	margin-left: 17px;
	padding-left: 20px;
}


/* EDIT POST */